/* Социальные кнопки для авторизации */
.social_auth_btn {display:inline-block;//display:inline;zoom:1;width:33px;height:32px;font-size:5px;background:url('/assets/img/custom/sprites/social.png') 0 0 no-repeat;vertical-align:middle}
.social_auth_facebook {cursor:pointer;background-position:0 0}
.social_auth_facebook:hover {cursor:pointer;background-position:0 -32px}
.social_auth_vkontakte {cursor:pointer;background-position:-33px 0}
.social_auth_vkontakte:hover {cursor:pointer;background-position:-33px -32px}
.social_auth_twitter {cursor:pointer;background-position:-66px 0}
.social_auth_twitter:hover {cursor:pointer;background-position:-66px -32px}
.social_auth_yandex {cursor:pointer;background-position:-99px 0}
.social_auth_yandex:hover {cursor:pointer;background-position:-99px -32px}
.social_auth_google {cursor:pointer;background-position:-132px 0}
.social_auth_google:hover {cursor:pointer;background-position:-132px -32px}
.social_auth_odnoklassniki {cursor:pointer;background-position:-165px 0}
.social_auth_odnoklassniki:hover {cursor:pointer;background-position:-165px -32px}
.login_social {margin:0;padding-top:0px;margin-top:0; margin-bottom: 10px; text-align: center;}
.login_social h2, .login_social h3 {display:inline-block;margin:0 20px 0 0;vertical-align:middle;//display:inline;zoom:1}

/* Для ошибок в формах */
div.state-error >input {
    background: #fff0f0;
}

div.state-error > ul {
    padding: 0px;
    margin: 0px;
    padding: 2px;
}

div.state-error > ul > li {
    color: #ab4141;
     list-style-type: none;
    margin: 0px;
    padding: 0px;

}

.form_field_error_txt {
    color:#AB4141;
}
.rulesError {
    display: none;
}

.sky-form-other-style   {
    padding: 0px 0px 0px !important;
    border: 0px  !important;
}
.margin-bottom-20 {
    margin-bottom: 20px !important;
}

.color-green {
    color: #72c02c !important;
}


/* обшие стили для формы multiupload_image */
/*.count-of-uploaded-files{display:none;}*/
/*.sonata-bc .form-horizontal input.hidden-always{display: none;}*/
/*.sonata-bc .hide-by-timer{margin: 10px 0px 10px 0px !important;}*/
/*.sonata-bc .table-bordered td.b-l-none{border-left: none;}*/
/*.sonata-bc .table th, .sonata-bc .table td.text-center{text-align: center;}*/
/*.counter-of-files,.counter-of-documents{display: none;}*/


/*.footer-v1 {*/
    /*bottom: 0;*/
    /*position: absolute;*/
    /*width: 100%;*/

    /*overflow: hidden;*/
/*}*/




.modal-body .file-attachment img,
#form_image img,
#form_flash img {
    max-width: 540px;
}
.modal-body .col-md-12 {
    overflow: hidden;
    position: relative;
}

.service .service-icon {
    width:70px;
}
.navbar-brand.logo {
    margin-top: -25px;
}

a.fromIndexBlock:hover {
text-decoration: none;
}


.dropcap-bg{
    float: left;
    color: #fff;
    padding: 0px 0 !important;
    /* min-height: 100px; */
    min-width: 100px !important;
    font-size: 65px !important;
    font-weight: 200;
    line-height: 100px !important;
    text-align: center;
    background: #72c02c;
    margin: 4px 10px 0 0;
    vertical-align: middle;
}


.fa-active{
    color: #72c02c !important;
}

.da-dots span {
    background-color: #72c02c !important;
}

.info-blocks-in h4 {
    text-transform: uppercase !important;
    color: #687074;
    font-size: 15px;
    font-weight: 400;
}



.info-blocks i.icon-info-blocks  {
    margin-top: 3px !important;
}


.extra-block h4 {
    font-size: 15px;
    font-weight: 400;
}

.da-slide p {
    line-height: 28px !important;
}

.modal-body .tab-content {
    border: none !important;
}

a.edit-placement {
    /*text-decoration: underline !important;*/
}

.ui-datepicker-unselectable.ui-state-disabled > span.ui-state-default {
    color: #bfbfbf !important;
}

.hide-place {
    display: none;
}


.slider-image {

    margin-left:0px!important;
    margin-top:-70px!important;
}


.info-blocks-in h1.info-small {
    text-transform: uppercase!important;
    color: #687074 !important;
    font-size: 15px !important;
    font-weight: 400 !important;
}
.yandex-counter{
    position:absolute; left:-9999px;
}

.dropcap-bg {
    margin: 0px !important;
}





.site-desc .headline {
    border-bottom: 1px solid #dedede;
    margin-bottom: 12px;
    overflow: hidden;
}

.site-desc .headline h3 {
    color: #687074;
    float: left;
    font-size: 20px;
    text-transform: uppercase
}

.site-desc ul {
    margin: 0;
    padding: 0;
}

.site-desc li {
    background: none repeat scroll 0 0 #f8f8f8;
    color: #dedede;
    display: block;
    font-size: 24px;
    height: 30px;
    font-size: 15px;
    padding: 5px;
    margin: 0 5px 0 0;
    text-align: left;
    text-transform: uppercase;
    line-height: 120%;
}

.site-desc li:after {
    content: ".";
    visibility: hidden;
    display: block;
    clear: both;
}

div.catalog-theme {
    float: left;
    margin-right: 25px;
    width: 30%;
}

.slider-inner .da-slider {
    border-bottom: 1px solid #ddd !important;
}

.navigate-filter-row {
    clear: both;
}