<form style="clear: both" class="sky-form sky-form-other-style" action="#" method="POST">
    <div class="modal-body">
        <div class="row">
            {{ include('CoreAdCompanyBundle:Placement\\Cabinet\\Form:form_placement_inner.html.twig',{ 'fieldGroupClass': 'col-sm-12'}) }}
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn-u btn-u-primary" type="submit">Добавить</button>
        &nbsp;&nbsp;
        <button data-dismiss="modal" class="btn-u btn-u-default" type="button">Отмена</button>
    </div>
</form>