{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}

    {% if value %}
        <div style="width:18px;height:18px;float:left;border:solid 1px #ddd;background-color: {{ '#'~value }}"></div>&nbsp;{{ value }}
    {% else %}        
    {% endif %}

{% endblock %}