{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}
{% block field%}

    {%if object.generalStatus==constant('Core\\OrderBundle\\Entity\\ExtraStatus::checkedStatusCode')%}
        <span class="label label-default">Проверен</span>
    {%endif%}
    {%if object.generalStatus==constant('Core\\OrderBundle\\Entity\\ExtraStatus::paidStatusCode')%}
        <span class="label label-info">Оплачен</span>
    {%endif%}
    {%if object.generalStatus==constant('Core\\OrderBundle\\Entity\\ExtraStatus::shippedStatusCode')%}
        <span class="label label-success">Отгружен</span>
    {%endif%}
    {%if object.generalStatus==constant('Core\\OrderBundle\\Entity\\ExtraStatus::canceledStatusCode')%}
        <span class="label label-important">Отменён</span>
    {%endif%}

{% endblock %}