{#Футер для страниц с ошибками#}
<footer id="footer" class="error_page_footer">
    <div class="footer_container">
        <div class="footer_copyright">© {{ "now"|date("Y", default_timezone) }} Olikids. <!--noindex--><a rel="nofollow" href="{{path('core_common_privacy_policies')}}">Политика конфиденциальности</a><!--/noindex--></div>
    </div>
</footer>