<header id="header" class="error_page_header" role="banner">
    <a class="header_logo" href="{{path('core_common_index')}}"><img src="{{asset('images/logo_olikids.png')}}" alt="OliKids.ru — интернет-магазин детских товаров"></a>
        {% include 'CoreCommonBundle:Fragments:searchForm.html.twig' %}
</header>