/web/bundles/
/web/uploads/*
/web/*.xml
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
/build/
/vendor/
/bin/
/nbproject/*
/web/mongodb/
/composer.phar
/composer.lock
/.composer/
/phpunit.phar
/.travis.yml
/*.core
/*.orig
/*~
*.orig
/app/config/behat_parameters.yml
/src/Core/CommonBundle/Controller/TestController.php
/.idea/
/web/app_dev.php
/web/app_test.php
/web/js/compiled/
/web/css/compiled/
/web/test.php
/web/debug/
/src/Core/PaymentBundle/Certificate/in
/src/Core/PaymentBundle/Certificate/out
access.log
error.log
/node_modules/
