{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}
{% block field%}

<table class="table  table-bordered table-striped">
    <tr>
        <th >
            Cумма заказа
        </th>
        <th >
            Значение скидки
        </th>        

    </tr>
    {%for d in object.manufacturerStepValues%}
    <tr>
        <td class="money">{{moneyFormat(d.stepValue)}} {{currencyFormat()}}</td>
        <td>{{d.discountValue}} {% if d.isDiscountValueInPercent %}%{%else%}{{currencyFormat()}}{%endif%}</td>
    </tr>
{%endfor%}

</table>

{% endblock %}