{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    {% if object.citiesAmount %}
        <div><a target=_blank" href="{{path('admin_core_directory_city_list', {'filter[country][value]': object.id })}}">{{object.citiesAmount}}</a></div>
        {% else %}
        <div>&#x2012;</div>
    {% endif %}
{% endblock %}