{% extends "CoreCommonBundle::main_layout.html.twig" %}

{# SEO - заголовки #}
{% block title %}PromoMaster.net{% endblock %}
{% block meta_keywords %}{% endblock %}
{% block meta_description %}{% endblock %}

{% block js_head %}
    {{ parent() }}

    <script type="text/javascript">
        jQuery(document).ready(function () {
            App.initSliders();
            ParallaxSlider.initParallaxSlider();
        });
    </script>

{% endblock %}

{% block content %}

    <div class="breadcrumbs">
        <div class="container">
            <h1 class="pull-left">Рекламодателям</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="{ path('core_common_index') }}">Главная</a></li>
                <li class="active">Рекламодателям</li>
            </ul>
        </div><!--/container-->
    </div>

<div class="container content ">


<div class="row">
    <div class="col-md-6 shadow-wrapper">
        <blockquote class="hero text-right box-shadow shadow-effect-3">
            <p>размещение вашего сайта в каталоге системы, что привлекает прямых рекламодателей к вашему ресурсу и увеличивает ваш доход от рекламы
                полный комплекс инструментов для эффективного размещения рекламных материалов
                вы совершено бесплатно управляете рекламой собственных рекламодателей через наш сервис
                гибкая настройка цен, оптовые скидки
                возможность управления рекламными счетчиками сторонних рекламных систем
                простота в использовании
                подробные отчеты/статистика, таргетирование и т.д.
                вы получаете дополнительных прямых рекламодателей через наш сервис, а мы берем всего 5% комиссии от сумы сделки (ожидайте скоро!)
                безопасность сделки (ожидайте скоро!)
                возможность выводить заработанные средства с баланса системы на счета WebMoney и Яндекс.Деньги (ожидайте скоро!)</p>
        </blockquote>
    </div>
    <div class="col-md-6">

    <img class="img-responsive" src="/assets/img/master/target.png" alt="">
    </div>
</div>






</div>
{% endblock %}
