{% extends "CoreCommonBundle::main_layout.html.twig" %}

{# SEO - заголовки #}
{% block title %}PromoMaster - рекламодателям{% endblock %}
{% block meta_keywords %}{% endblock %}
{% block meta_description %}{% endblock %}

{% block js_head %}
    {{ parent() }}

    <script type="text/javascript">
        jQuery(document).ready(function () {
            App.initSliders();
            ParallaxSlider.initParallaxSlider();
        });
    </script>

{% endblock %}

{% block content %}

    <div class="breadcrumbs">
        <div class="container">
            <h1 class="pull-left">Рекламодателям</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="{{ path('core_common_index') }}">Главная</a></li>
                <li class="active">Рекламодателям</li>
            </ul>
        </div>
        <!--/container-->
    </div>

    <div class="container content ">


        <div class="row">



            <div class="row" style="margin-left: 0px">
                    <div class="col-md-7 extra-block" style="text-align: left;">
                        <br>

                       <h4> Вы рекламодатель и хотите рекламировать свой продукт только на качественных площадках?</h4>

                        <h4>Вам нужны только проверенные и полезные площадки с реальными посетителями определенной
                            тематики?</h4>

                        <h4>Вам необходимо отслеживать динамику переходов и иметь полную статистику по регионам?</h4>

                        <h4>Вы не хотите переплачивать за рекламу, которая никому не нужна?</h4>

                        <h4>В таком случае <span class="color-green">PromoMaster</span> - это то, что вам необходимо уже сейчас.</h4>

                        <h4>Сервис содержит в себе мощные и простые в работе технологии для проведения рекламных
                            компаний для привлечения целевой аудитории.</h4>

                        <br>
                        <a  rel="float-shadow" href="{{ path('core_cabinet_adcompany_create') }}" class="btn-u btn-u-lg rounded-2x float-shadow" >Добавить рекламную компанию</a>

                    </div>
                    <div class="col-md-4    " style="text-align: center">
                        <img style="margin-left:10px" src="/assets/img/master/target.png" alt="">
                    </div>
                </div>


            <hr>



            <div class="row">
                <div class="col-sm-6 info-blocks">
                    <i class="icon-info-blocks fa  fa-active fa-binoculars"></i>

                    <div class="info-blocks-in">
                        <h4>Быстрый поиск качественных рекламных площадок</h4>
                        <p>Сервис PromoMaster работает только с имедживыми площадками, которые приносят пользу людям и могут обеспечить достойную рекламу вашего продукта. В сервисе располагается каталог площадок, где вы можете сами быстро отфильтровать и найти подходящие ресурсы для размещения рекламных материалов.</p>
                    </div>
                </div>
                <div class="col-sm-6 info-blocks">
                    <i class="icon-info-blocks fa fa-active fa-comments-o"></i>

                    <div class="info-blocks-in">
                        <h4>Прямой контакт с вебмастером</h4>
                        <p>Миссия сервиса PromoMaster заключается в том, чтобы сделать деловые отношения между рекламодателем и вебмастером максимально прозрачными, безопасными и удобными насколько это возможно. При необходимости, вы можете напрямую вести деловую переписку с вебмастером, договариваться о оптовых скидках и прочих рабочих моментах.</p>
                    </div>
                </div>
            </div>





            <div class="row">
                <div class="col-sm-6 info-blocks">
                    <i class="icon-info-blocks fa fa-active fa-users"></i>

                    <div class="info-blocks-in">
                        <h4>Эффективное проведение рекламных кампаний</h4>
                        <p>PromoMaster предоставляет мощный современный комплекс для достижения успеха в проведении рекламных компаний. Вы с легкостью сможете выбирать подходящие площадки, делать анализ и контролировать бюджет.</p>
                    </div>
                </div>
                <div class="col-sm-6 info-blocks">
                    <i class="icon-info-blocks fa fa-active fa-crosshairs"></i>

                    <div class="info-blocks-in">
                        <h4>Настройка целевой аудитории</h4>
                        <p>Гибкая настройка рекламной компании позволит привлекать клиентов к вашему продукту более эффективно. Показы рекламы настраиваются по определенным странам, регионам и времени суток. Для каждого рекламного материала можно настраивать приоритеты показа.</p>
                    </div>
                </div>
            </div>



            <div class="row">
                <div class="col-sm-6 info-blocks">
                    <i class="icon-info-blocks fa fa-active fa-bar-chart-o"></i>

                    <div class="info-blocks-in">
                        <h4>Подробные отчеты и статистика</h4>
                        <p>Для каждой рекламной компании в режиме реального времени предоставляется подробные отчеты и статистика, которые можно скачать или распечатать. Если вы рекламный агент, то ваш заказчик должен видеть динамику работы, для этого вам достаточно отправить ему специальный сгенерированный линк, по которому доступна детализированная статистика.</p>
                    </div>
                </div>
                <div class="col-sm-6 info-blocks">
                    <i class="icon-info-blocks fa fa-active fa-sliders"></i>

                    <div class="info-blocks-in">
                        <h4>Гибкая рекламная модель</h4>
                        <p>Вы сами можете подбирать площадки с удобной рекламной моделью. В системе предусмотрена возможность оплачивать размещение рекламы за показы, клики или дни размещения. При оптовых заказах могут срабатывать  скидки вебмастеров, что поможет сэкономить средства.</p>
                    </div>
                </div>
            </div>



            <div class="row">
                <div class="col-sm-6 info-blocks">
                    <i class="icon-info-blocks fa fa-active fa-file-video-o"></i>

                    <div class="info-blocks-in">
                        <h4>Удобные рекламные форматы</h4>
                        <p>Рекламные материалы могут быть в виде изображения, flash-ролика, HTML-кода, либо встроенного  скрипта. При подборе площадки в фильтре можно настроить поиск по определенным форматам или размерам доступного рекламного места.</p>
                    </div>
                </div>
                <div class="col-sm-6 info-blocks">
                    <i class="icon-info-blocks fa fa-active fa-thumbs-up"></i>

                    <div class="info-blocks-in">
                        <h4>Простота использования сервиса</h4>
                        <p>Интерфейс сервиса очень прост в использовании. С легкостью можно добавлять рекламные материалы  и отслеживать динамику показов. На сайте есть обучающие материалы, а наша служба поддержки с радостью ответит на все ваши вопросы.</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6 info-blocks">
                    <i class="icon-info-blocks fa  fa-active fa-calculator"></i>

                    <div class="info-blocks-in">
                        <h4>Бесплатное использование сервиса</h4>
                        <p>Весь функционал  сервиса на данный момент является абсолютно бесплатным, нет никаких подводных камней или скрытых правил. Рекламодатель  свободно может использовать сервис без каких-либо ограничений.</p>
                    </div>
                </div>
                <div class="col-sm-6 info-blocks">
                    <i class="icon-info-blocks fa fa-active fa-university"></i>

                    <div class="info-blocks-in">
                        <h4>Безопасность сделки (ожидайте скоро!)</h4>
                        <p>Команда PromoMaster постоянно работает над совершенствованием сервиса. В ближайшее будущем мы планируем внедрить механизм безопасного заключения сделки между вебмастером и рекламодателем.</p>
                    </div>
                </div>
            </div>


        </div>


    </div>
{% endblock %}
