{% extends "CoreCommonBundle::main_layout.html.twig" %}

{# SEO - заголовки #}
{% block title %}PromoMaster.net{% endblock %}
{% block meta_keywords %}{% endblock %}
{% block meta_description %}{% endblock %}

{% block js_head %}
    {{ parent() }}

    <script type="text/javascript">
        jQuery(document).ready(function () {
            App.initSliders();
            ParallaxSlider.initParallaxSlider();
        });
    </script>

{% endblock %}

{% block content %}

    <div class="breadcrumbs">
        <div class="container">
            <h1 class="pull-left">Владельцам сайтов</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="{ path('core_common_index') }}">Главная</a></li>
                <li class="active">Владельцам сайтов</li>
            </ul>
        </div>
        <!--/container-->
    </div>


    <div class="container content ">

        <div class="row">

            
                <div class="row" style="margin-left: 0px">
                    <div class="col-md-7" style="text-align: left">

                        <br>
                        <h4>Вы вебмастер и у вас есть свой сайт, а может даже несколько своих интернет-площадок?</h4>

                        <h4>Вы зарабатываете на рекламе, размещаемой на ваших сайтах?</h4>

                        <h4>Вы хотите привлекать больше прямых рекламодателей к своему ресурсу и тем самым увеличить
                            доходность вашего проекта?</h4>

                        <h4>Вам необходимо отслеживать динамику переходов и иметь полную статистику по регионам?</h4>

                        <h4>В таком случае <span class="color-green">PromoMaster</span> - это то, что вам необходимо уже сейчас.</h4>

                        <h4>Сервис содержит в себе мощные и простые в работе технологии управления рекламой на
                            сайтах,
                            а также дает полную свободу по размещению рекламы.</h4>
                    </div>

                    <div class="col-md-4" style="text-align: center">
                        <img  src="/assets/img/master/money.png" alt="">
                    </div>
                </div>


            <hr>

            <div class="row">
                <div class="col-sm-6 info-blocks">
                    <i class="icon-info-blocks fa fa-active fa-bullhorn"></i>

                    <div class="info-blocks-in">
                        <h3>Размещение вашего сайта в каталоге системы</h3>

                        <p>Добавленные площадки размещаются в каталоге системы, что привлекает прямых рекламодателей к
                            вашему
                            ресурсу и
                            увеличивает доход от имиджевой рекламы</p>
                    </div>
                </div>
                <div class="col-sm-6 info-blocks">
                    <i class="icon-info-blocks fa fa-active fa-cogs"></i>

                    <div class="info-blocks-in">
                        <h3>Удобное управление рекламными материалами</h3>

                        <p>Сервис PromoMaster предоставляет современный комплекс инструментов для эффективного
                            размещения рекламных
                            материалов
                            .</p>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-sm-6 info-blocks">
                    <i class="icon-info-blocks fa fa-active fa-eye "></i>

                    <div class="info-blocks-in">
                        <h3>Контроль рекламных материалов</h3>

                        <p>Вы сможете лично контролировать содержание рекламных материалов, размещаемых на вашем сайте.
                            Вы можете
                            быть
                            уверены, что репутация вашего ресурса не пострадает, а публикуемые рекламные материалы будут
                            соответствовать
                            тематике площадки.</p>
                    </div>
                </div>
                <div class="col-sm-6 info-blocks">
                    <i class="icon-info-blocks fa fa-active fa-sliders"></i>

                    <div class="info-blocks-in">
                        <h3>Гибкая настройка ценовой политики</h3>

                        <p>В личном кабинете с легкостью можно настроить ценовую политику для рекламных мест за показы,
                            клики или
                            дни
                            размещения. Также предусмотрена возможность задавать оптовые скидки для крупных заказов, что
                            в свою
                            очередь
                            сделает ваше предложение более привлекательным в глазах рекламодателя.</p>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-sm-6 info-blocks">
                    <i class="icon-info-blocks fa fa-active fa-pie-chart"></i>

                    <div class="info-blocks-in">
                        <h3>Подробные отчеты и статистика</h3>

                        <p>Для каждой рекламной компании в режиме реального времени предоставляется подробные отчеты и
                            статистика.
                            Ваш
                            рекламодатель должен видеть динамику работы, для этого вам достаточно отправить ему
                            специальный
                            сгенерированный линк, по которому доступна детализированная статистика.</p>
                    </div>
                </div>

                <div class="col-sm-6 info-blocks">
                    <i class="icon-info-blocks fa fa-active fa-slideshare"></i>

                    <div class="info-blocks-in">
                        <h3>Интеграция сторонних рекламных скриптов</h3>

                        <p>В сервисе PromoMaster предусмотрена возможность добавления скриптов сторонних рекламных
                            систем
                            . Это может быть выгодно в том случае, когда у вас на какой-то момент нет прямых
                            рекламодателей и вы не
                            хотите, чтобы ваше рекламное место простаивало.</p>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-sm-6 info-blocks">
                    <i class="icon-info-blocks fa fa-active fa-thumbs-up"></i>

                    <div class="info-blocks-in">
                        <h3>Простота использования сервиса</h3>

                        <p>Интерфейс сервиса очень прост в использовании. Вы с легкостью сможете добавлять рекламные
                            материалы ваших
                            рекламодателей и отслеживать динамику показов. На сайте есть обучающие материалы, а наша
                            служба
                            поддержки с
                            радостью ответит на все ваши вопросы.</p>
                    </div>
                </div>


                <div class="col-sm-6 info-blocks">
                    <i class="icon-info-blocks fa fa-active fa-calculator "></i>

                    <div class="info-blocks-in">
                        <h3>Бесплатное использование сервиса</h3>

                        <p>Весь функционал сервиса на данный момент является абсолютно бесплатным, нет никаких подводных
                            камней или
                            скрытых правил. В будущем планируется брать минимальную комиссию за каждого привлеченного к
                            вашему
                            ресурсу
                            рекламодателя в размере 5% от суммы сделки.</p>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-sm-6 info-blocks">
                    <i class="icon-info-blocks fa fa-active fa-university"></i>

                    <div class="info-blocks-in">
                        <h3>Безопасность сделки (ожидайте скоро!)</h3>

                        <p>Команда PromoMaster постоянно работает над совершенствованием сервиса. В ближайшее будущем мы
                            планируем
                            внедрить механизм безопасного заключения сделки между вебмастером и рекламодателем.</p>
                    </div>
                </div>

                <div class="col-sm-6 info-blocks">
                    <i class="icon-info-blocks fa fa-active fa-credit-card"></i>

                    <div class="info-blocks-in">
                        <h3>Вывод средств удобным способом (ожидайте скоро!)</h3>

                        <p>Заработанные средства можно будет выводить удобным способом на электронные кошельки или
                            банковский
                            счет.</p>
                    </div>
                </div>
            </div>


        </div>
    </div>
{% endblock %}
