{% extends "CoreCommonBundle::main_layout.html.twig" %}

{# SEO - заголовки #}
{% block title %}PromoMaster.net{% endblock %}
{% block meta_keywords %}{% endblock %}
{% block meta_description %}{% endblock %}

{% block js_head %}
    {{ parent() }}

    <script type="text/javascript">
        jQuery(document).ready(function () {
            App.initSliders();
            ParallaxSlider.initParallaxSlider();
        });
    </script>

{% endblock %}

{% block content %}

    <div class="breadcrumbs">
        <div class="container">
            <h1 class="pull-left">Владельцам сайтов</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="{ path('core_common_index') }}">Главная</a></li>
                <li class="active">Владельцам сайтов</li>
            </ul>
        </div>
        <!--/container-->
    </div>


    <div class="container content ">

        <div class="row">
            <div class="col-md-6 shadow-wrapper">
                <blockquote class="hero text-right box-shadow shadow-effect-3">
                    <p>Вы вебмастер и у вас есть свой сайт, а может даже несколько своих интернет-площадок?</p>

                    <p>Вы зарабатываете на рекламе, размещаемой на ваших сайтах?</p>

                    <p>Вы хотите привлекать больше прямых рекламодателей к своему ресурсу и тем самым увеличить
                        доходность вашего проекта?</p>

                    <p>В таком случае PromoMaster - это то, что вам необходимо уже сейчас.
                        PromoMaster содержит в себе мощные и простые в работе технологии управления рекламой на сайтах,
                        а также дает полную свободу по размещению рекламы.</p>
                </blockquote>
            </div>
            <div class="col-md-6">

                <img style="margin-left:10px" class="img-responsive" src="/assets/img/master/money.png" alt="">
            </div>



    <div class="row margin-bottom-30">
        <div class="col-md-6">
        <div class="tag-box tag-box-v2 box-shadow shadow-effect-1">
            <h2>Размещение вашего сайта в каталоге системы</h2>

            <p>Добавленные площадки размещаются в каталоге системы, что привлекает прямых рекламодателей к вашему
                ресурсу и
                увеличивает доход от имиджевой рекламы</p>
        </div>
        </div>
            <div class="col-md-6">
        <div class="tag-box tag-box-v2 box-shadow shadow-effect-1">
            <h2>Удобное управление рекламными материалами</h2>

            <p>Сервис PromoMaster предоставляет современный комплекс инструментов для эффективного размещения рекламных
                материалов
                .</p>

        </div>
</div>
        </div>


        <div class="tag-box tag-box-v2 box-shadow shadow-effect-1">
            <h2>Контроль рекламных материалов</h2>

            <p>Вы сможете лично контролировать содержание рекламных материалов, размещаемых на вашем сайте. Вы можете
                быть
                уверены, что репутация вашего ресурса не пострадает, а публикуемые рекламные материалы будут
                соответствовать
                тематике площадки.</p>

        </div>
        <div class="tag-box tag-box-v2 box-shadow shadow-effect-1">
            <h2>Гибкая настройка ценовой политики</h2>

            <p>В личном кабинете с легкостью можно настроить ценовую политику для рекламных мест за показы, клики или
                дни
                размещения. Также предусмотрена возможность задавать оптовые скидки для крупных заказов, что в свою
                очередь
                сделает ваше предложение более привлекательным в глазах рекламодателя.</p>

        </div>
        <div class="tag-box tag-box-v2 box-shadow shadow-effect-1">
            <h2>Подробные отчеты и статистика</h2>

            <p>Для каждой рекламной компании в режиме реального времени предоставляется подробные отчеты и статистика.
                Ваш
                рекламодатель должен видеть динамику работы, для этого вам достаточно отправить ему специальный
                сгенерированный линк, по которому доступна детализированная статистика.</p>
        </div>

        <div class="tag-box tag-box-v2 box-shadow shadow-effect-1">
            <h2>Интеграция сторонних рекламных скриптов</h2>

            <p>В сервисе PromoMaster предусмотрена возможность добавления скриптов сторонних рекламных систем
                . Это может быть выгодно в том случае, когда у вас на какой-то момент нет прямых рекламодателей и вы не
                хотите, чтобы ваше рекламное место простаивало.</p>
        </div>

        <div class="tag-box tag-box-v2 box-shadow shadow-effect-1">
            <h2>Простота использования сервиса</h2>

            <p>Интерфейс сервиса очень прост в использовании. Вы с легкостью сможете добавлять рекламные материалы ваших
                рекламодателей и отслеживать динамику показов. На сайте есть обучающие материалы, а наша служба
                поддержки с
                радостью ответит на все ваши вопросы.</p>

        </div>

        <div class="tag-box tag-box-v2 box-shadow shadow-effect-1">
            <h2>Бесплатное использование сервиса</h2>

            <p>Весь функционал сервиса на данный момент является абсолютно бесплатным, нет никаких подводных камней или
                скрытых правил. В будущем планируется брать минимальную комиссию за каждого привлеченного к вашему
                ресурсу
                рекламодателя в размере 5% от суммы сделки.</p>

        </div>
        <div class="tag-box tag-box-v2 box-shadow shadow-effect-1">
            <h2>Безопасность сделки (ожидайте скоро!)</h2>

            <p>Команда PromoMaster постоянно работает над совершенствованием сервиса. В ближайшее будущем мы планируем
                внедрить механизм безопасного заключения сделки между вебмастером и рекламодателем.</p>
        </div>
        <div class="tag-box tag-box-v2 box-shadow shadow-effect-1">
            <h2>Вывод средств удобным способом (ожидайте скоро!)</h2>

            <p>Заработанные средства можно будет выводить удобным способом на электронные кошельки или банковский
                счет.</p>
        </div>


    </div>
    </div>
{% endblock %}
