{% extends "CoreCommonBundle::main_layout.html.twig" %}

{# SEO - заголовки #}
{% block title %}PromoMaster.net — агрегатор рекламных мест{% endblock %}
{% block meta_keywords %}реклама, webmaster, рекламодателям, вебмастерам, баннерная сеть, реклама, места, рекламный агент{% endblock %}
{% block meta_description %}сервис продажи и управления рекламой{% endblock %}

{% block js_head %}
    {{ parent() }}

    <script type="text/javascript">
        jQuery(document).ready(function () {
            App.initSliders();
            ParallaxSlider.initParallaxSlider();
        });
    </script>

{% endblock %}

{% block content %}
    <!--=== Slider ===-->
    <div class="slider-inner">
        <div id="da-slider" class="da-slider">
            <div class="da-slide">

                {#<h2><i>&nbsp;Увеличение прибыли&nbsp;<br/>&nbsp;от рекламы&nbsp;<br/>&nbsp;на вашем сайте&nbsp;</i></h2>#}
                <h2><i>&nbsp;Рост прибыли&nbsp;<br/>&nbsp;от рекламы&nbsp;<br/>&nbsp;на вашем сайте&nbsp;</i></h2>

                <p><i>Прямые рекламодатели будут</i><br/><i>находить вас сами!</i></p>

                <div class="da-img" style="margin-left:0px;margin-top:-70px">
                    <img class="img-responsive" src="/assets/img/master/profit.png" alt="">
                </div>
            </div>
            <div class="da-slide">
                <h2><i>&nbsp;Отчеты&nbsp;<br/>&nbsp;Статистика&nbsp;<br/>&nbsp;Таргетирование&nbsp;</i></h2>

                <p><i>Полный комплекс инструментов</i><br/><i>для эффективного размещения</i><br/><i>рекламных
                        материалов</i></p>

                <div class="da-img" style="margin-left:0px;margin-top:-70px">
                    <img class="img-responsive" src="/assets/img/master/statistics.png" alt="">
                </div>
            </div>
            <div class="da-slide">
                <h2><i>Продажа</i><br/><i>остаточного</i><br/><i>трафика</i></h2>

                <p><i>Увеличение прибыли за счет</i><br/><i>продажи остаточного трафика</i><br/><i>сторонним рекламным
                        системам</i>
                </p>

                <div class="da-img" style="margin-left:0px;margin-top:-70px"><img w class="img-responsive"
                                                                                  src="/assets/img/master/ecommerce_sales.png"
                                                                                  alt="">
                </div>
            </div>
            <div class="da-slide">
                <h2><i>Постоянно</i><br/><i>развивающийся</i><br/><i>функционал</i></h2>

                <p><i>Наша команда постоянно трудится над тем,</i><br/><i>чтобы улучшить функционал системы</i>
                </p>

                <div class="da-img" style="margin-left:0px;margin-top:-70px"><img class="img-responsive"
                                                                                  src="/assets/img/master/settings.png"
                                                                                  alt="">
                </div>
            </div>

            <div class="da-arrows">
                <span class="da-arrows-prev"></span>
                <span class="da-arrows-next"></span>
            </div>
        </div>
    </div><!--/slider-->
    <!--=== End Slider ===-->


    <!--=== Content Part ===-->
    <div class="container content">

    <div class="row">

        <a class="fromIndexBlock" href="{{ path('core_common_webmasters') }}">
        <div class="col-sm-6">


                <h3><span class="color-green">Преимущества для вебмастера</span></h3>



            <br>
            <div class="info-blocks">
                <i class="icon-info-blocks fa fa-bullhorn"></i>
                <div class="info-blocks-in">
                    <h4>Размещение вашего сайта в каталоге системы</h4>
                </div>
            </div>


            <div class="info-blocks">
                <i class="icon-info-blocks fa fa-cogs "></i>
                <div class="info-blocks-in">
                    <h4>Удобное управление рекламой</h4>
                </div>
            </div>


            <div class="info-blocks">
                <i class="icon-info-blocks fa fa-eye"></i>
                <div class="info-blocks-in">
                    <h4>Контроль рекламных материалов</h4>
                </div>
            </div>


            <div class="info-blocks">
                <i class="icon-info-blocks fa fa-sliders"></i>
                <div class="info-blocks-in">
                    <h4>Гибкая настройка ценовой политики</h4>
                </div>
            </div>


            <div class="info-blocks">
                <i class="icon-info-blocks fa fa-pie-chart"></i>
                <div class="info-blocks-in">
                    <h4>Подробные отчеты и статистика</h4>
                </div>
            </div>


            <div class="info-blocks">
                <i class="icon-info-blocks fa fa-slideshare"></i>
                <div class="info-blocks-in">
                    <h4>Интеграция сторонних рекламных скриптов</h4>
                </div>
            </div>



            <div class="info-blocks">
                <i class="icon-info-blocks fa fa-credit-card"></i>
                <div class="info-blocks-in">
                    <h4>Вывод средств удобным способом</h4>
                </div>
            </div>

            <div class="info-blocks">
                <i class="icon-info-blocks fa fa-thumbs-up"></i>
                <div class="info-blocks-in">
                    <h4>Простота использования сервиса</h4>
                </div>
            </div>

            <div class="info-blocks">
                <i class="icon-info-blocks fa fa-calculator"></i>
                <div class="info-blocks-in">
                    <h4>Бесплатное использование сервиса</h4>
                </div>
            </div>

            <div class="info-blocks">
                <i class="icon-info-blocks fa fa-university"></i>
                <div class="info-blocks-in">
                    <h4>Безопасность сделки</h4>
                </div>
            </div>

        </div>
            </a>
        <a class="fromIndexBlock" href="{{ path('core_common_advertisers') }}"><div class="col-sm-6">


                    <h3><span class="color-green">Преимущества для рекламодателя</span></h3>

                <br>
            <div class="info-blocks">
                <i class="icon-info-blocks fa fa-binoculars"></i>
                <div class="info-blocks-in">
                    <h4>Быстрый поиск качественных рекламных площадок</h4>
                </div>
            </div>

            <div class="info-blocks">
                <i class="icon-info-blocks fa fa-comments-o"></i>
                <div class="info-blocks-in">
                    <h4>Прямой контакт с вебмастером</h4>
                </div>
            </div>

            <div class="info-blocks">
                <i class="icon-info-blocks fa fa-users"></i>
                <div class="info-blocks-in">
                    <h4>Эффективное проведение рекламных кампаний</h4>
                </div>
            </div>

            <div class="info-blocks">
                <i class="icon-info-blocks fa fa-crosshairs"></i>
                <div class="info-blocks-in">
                    <h4>Настройка целевой аудитории</h4>
                </div>
            </div>

            <div class="info-blocks">
                <i class="icon-info-blocks fa fa-bar-chart-o"></i>
                <div class="info-blocks-in">
                    <h4>Подробные отчеты и статистика</h4>
                </div>
            </div>

            <div class="info-blocks">
                <i class="icon-info-blocks fa fa-sliders"></i>
                <div class="info-blocks-in">
                    <h4>Гибкая рекламная модель</h4>
                </div>
            </div>


            <div class="info-blocks">
                <i class="icon-info-blocks fa fa-file-video-o "></i>
                <div class="info-blocks-in">
                    <h4>Удобные рекламные форматы</h4>
                </div>
            </div>

            <div class="info-blocks">
                <i class="icon-info-blocks fa fa-thumbs-up"></i>
                <div class="info-blocks-in">
                    <h4>Простота использования сервиса</h4>
                </div>
            </div>

            <div class="info-blocks">
                <i class="icon-info-blocks fa fa-calculator"></i>
                <div class="info-blocks-in">
                    <h4>Бесплатное использование сервиса</h4>
                </div>
            </div>

            <div class="info-blocks">
                <i class="icon-info-blocks fa fa-university"></i>
                <div class="info-blocks-in">
                    <h4>Безопасность сделки</h4>
                </div>
            </div>

        </div>
        </a>
    </div>






    <!-- End Content Part -->

{% endblock %}