
{#**
 * Шаблон заглушка
 *
 * @author Sergeev A.M.
 * @copyright LLC "PromoMaster"
 *#}

<!doctype html>
<html lang="ru">
<head>
	<title>OliKids.ru &mdash; интернет-магазин детских товаров<</title>
	<meta charset="utf-8">
	<link href="{{ asset('dummy/css/style.css') }}" rel="stylesheet">
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script type="text/javascript" src="{{ asset('dummy/js/jquery.placeholder.min.js') }}"></script>
	<!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
	<script type="text/javascript" src="//vk.com/js/api/openapi.js?82"></script>
	<script type="text/javascript">VK.init({apiId: 3503016, onlyWidgets: true});</script>

	<meta property="og:image" content="http://www.olikids.ru/dummy/images/promo_pic.jpg"/>
	<meta property="og:title" content="OliKids &mdash; интернет-магазин детских товаров. Скоро открытие!"/>
	<meta property="og:description" content="Детские игрушки, товары для творчества, одежда и обувь для детей, все для кормления, мебель в детскую, коляски"/>
	<meta property="og:type" content="website"/>
	<meta property="og:url" content="http://www.olikids.ru/"/>
</head>
<body>

<header id="header">
	<h1 class="header_logo">OliKids.ru &mdash; интернет-магазин детских товаров</h1>
	<div class="socials">
		<div class="social">
			<div id="fb-root"></div>
			<script>(function(d, s, id) {var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) {return;} js = d.createElement(s); js.id = id; js.src = "//connect.facebook.net/ru_RU/all.js#xfbml=1"; fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));</script>
			<div class="fb-like" data-href="http://www.olikids.ru/" data-send="false" data-layout="box_count" data-width="150" data-show-faces="true" data-font="arial"></div>
		</div>
		<div class="social">
			<div id="vk_like"></div>
			<script type="text/javascript">VK.Widgets.Like("vk_like", {type: "vertical", height: 24});</script>
		</div>
		<div class="social">
			<div class="g-plusone" data-size="tall" data-href="http://www.olikids.ru/"></div>
			<script type="text/javascript">(function() {var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true; po.src = 'https://apis.google.com/js/plusone.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);})();</script>
		</div>
		<div class="social socials_twitter">
			<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.olikids.ru/" data-via="OliKids.ru" data-lang="ru" data-related="anywhereTheJavascriptAPI" data-count="vertical">Твитнуть</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
		</div>
	</div>
</header>

<section id="promo">
	<h2>Интернет-магазин детских товаров. Скоро открытие!</h2>
	<ul class="promo_cats">
		<li class="first">Детские игрушки</li>
		<li>Товары для творчества</li>
		<li>Одежда и обувь для детей</li>
		<li>Все для кормления</li>
		<li>Мебель в детскую</li>
		<li>Коляски</li>
	</ul>
</section>

<section id="subscribe"></section>

<footer id="footer">&copy; {#2012#} {{ 'now'|date('Y', default_timezone) }} Olikids</footer>

</body>
</html>