{% extends "CoreCommonBundle::main_layout.html.twig" %}

{# SEO - заголовки #}
{% block title %}PromoMaster.net — сервис продажи и управления рекламой{% endblock %}
{% block meta_keywords %}{% endblock %}
{% block meta_description %}{% endblock %}

{% block js_head %}
    {{ parent() }}

    <script type="text/javascript">
        jQuery(document).ready(function () {
            App.initSliders();
            ParallaxSlider.initParallaxSlider();
        });
    </script>

{% endblock %}

{% block content %}
    <!--=== Slider ===-->
    <div class="slider-inner">
        <div id="da-slider" class="da-slider">
            <div class="da-slide">

                <h2><i>&nbsp;Увеличение прибыли&nbsp;<br/>&nbsp;от рекламы&nbsp;<br/>&nbsp;на вашем сайте&nbsp;</i></h2>
                <p><i>Прямые рекламодатели будут</i><br/><i>находить вас сами!</i></p>

                <div class="da-img" style="margin-left:0px;margin-top:-70px">
                    <img class="img-responsive" src="/assets/img/master/profit.png" alt="">
                </div>
            </div>
            <div class="da-slide">
                <h2><i>&nbsp;Отчеты&nbsp;<br/>&nbsp;Статистика&nbsp;<br/>&nbsp;Таргетирование&nbsp;</i></h2>
                <p><i>Полный комплекс инструментов</i><br/><i>для эффективного размещения</i><br/><i>рекламных
                        материалов</i></p>

                    <div class="da-img" style="margin-left:0px;margin-top:-70px">
                        <img  class="img-responsive" src="/assets/img/master/statistics.png" alt="">
                </div>
            </div>
            <div class="da-slide">
                <h2><i>Продажа</i><br/><i>остаточного</i><br/><i>трафика</i></h2>

                <p><i>Увеличение прибыли за счет</i><br/><i>продажи остаточного трафика</i><br/><i>сторонним рекламным системам</i>
                </p>

                <div class="da-img" style="margin-left:0px;margin-top:-70px"><img  class="img-responsive" src="/assets/img/master/ecommerce_sales.png" alt="">
                </div>
            </div>
            <div class="da-slide">
                <h2><i>Постоянно</i><br/><i>развивающийся</i><br/><i>функционал</i></h2>
                <p><i>Наша команда постоянно трудится над тем,</i><br/><i>чтобы улучшить функционал системы</i>
                </p>

                <div class="da-img" style="margin-left:0px;margin-top:-70px"><img  class="img-responsive" src="/assets/img/master/settings.png" alt="">
                </div>
            </div>

            <div class="da-arrows">
                <span class="da-arrows-prev"></span>
                <span class="da-arrows-next"></span>
            </div>
        </div>
    </div><!--/slider-->
    <!--=== End Slider ===-->


    <!--=== Content Part ===-->
    <div class="container content">
        <div class="row margin-bottom-30">
            <div class="col-md-6">
                <div class="service">
                    <i class="fa fa-compress service-icon"></i>
                    <div class="desc">
                        <h4>Что дает сервис вебмастеру</h4>
                        <p>
                        <ul class="list-unstyled margin-bottom-20">
                            <li><i class="fa fa-check color-green"></i> размещение вашего сайта в каталоге системы, что привлекает прямых рекламодателей к вашему ресурсу и увеличивает ваш доход от рекламы</li>
                            <li><i class="fa fa-check color-green"></i> полный комплекс инструментов для эффективного размещения рекламных материалов</li>
                            <li><i class="fa fa-check color-green"></i> вы совершено бесплатно управляете рекламой собственных рекламодателей через наш сервис</li>

                            <li><i class="fa fa-check color-green"></i> гибкая настройка цен, оптовые скидки</li>

                            <li><i class="fa fa-check color-green"></i> возможность управления рекламными счетчиками сторонних рекламных систем</li>
                            <li><i class="fa fa-check color-green"></i> простота в использовании</li>

                            <li><i class="fa fa-check color-green"></i> подробные  отчеты/статистика, таргетирование и т.д.</li>
                            <li><i class="fa fa-check color-green"></i> вы получаете дополнительных прямых рекламодателей через наш сервис, а мы берем всего 5% комиссии от сумы сделки (ожидайте скоро!)</li>
                            <li><i class="fa fa-check color-green"></i> безопасность сделки (ожидайте скоро!)</li>

                            <li><i class="fa fa-check color-green"></i> возможность выводить заработанные средства с баланса системы на счета WebMoney и Яндекс.Деньги (ожидайте скоро!)</li>

                            </ul>

                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="service">
                    <i class="fa fa-cogs service-icon"></i>
                    <div class="desc">
                        <h4>Что дает сервис рекламодателю</h4>
                        <p>
                        <ul class="list-unstyled margin-bottom-20">
                        <li><i class="fa fa-check color-green"></i> полный комплекс инструментов для эффективного управления рекламными компаниями</li>
                        <li><i class="fa fa-check color-green"></i> быстрый поиск качественных рекламных площадок</li>
                        <li><i class="fa fa-check color-green"></i> бесплатное использование сервиса</li>
                        <li><i class="fa fa-check color-green"></i> безопасность сделки (ожидайте скоро!)</li>
                        <li><i class="fa fa-check color-green"></i> настройка целевой аудитории</li>
                        <li><i class="fa fa-check color-green"></i> гибкая рекламная модель</li>
                        <li><i class="fa fa-check color-green"></i> подробные отчеты/статистика</li>
                        </ul>
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div><!--/container-->
    <!-- End Content Part -->

{% endblock %}