{% extends "CoreCommonBundle::main_layout.html.twig" %}

{# SEO - заголовки #}
{% block title %}PromoMaster.net — интернет-магазин игрушек и детских товаров{% endblock %}
{% block meta_keywords %}Детские игрушки, транспорт, куклы, машинки, детские товары{% endblock %}
{% block meta_description %}Интернет-магазин детских товаров, где можно купить игрушки, самокаты, радионяни, бутылочки.{% endblock %}

{% block js_head %}
    {{ parent() }}

    <script type="text/javascript">
        jQuery(document).ready(function () {
            App.initSliders();
            ParallaxSlider.initParallaxSlider();
        });
    </script>

{% endblock %}

{% block content %}
    <!--=== Slider ===-->
    <div class="slider-inner">
        <div id="da-slider" class="da-slider">
            <div class="da-slide">

                <h2><i>&nbsp;Увеличение прибыли&nbsp;<br/>&nbsp;от рекламы&nbsp;<br/>&nbsp;на вашем сайте&nbsp;</i></h2>

                {#<h2><i>CLEAN &amp; FRESH</i> <br/> <i>FULLY RESPONSIVE</i> <br/> <i>DESIGN</i></h2>#}

                <p><i>Прямые рекламодатели будут</i><br/><i>находить вас сами!</i></p>

                <div class="da-img" style="margin-left:0px;margin-top:-70px"><img width="350px" class="img-responsive" src="/assets/img/profit.png" alt="">
                </div>
            </div>
            <div class="da-slide">

                <h2><i>&nbsp;Отчеты&nbsp;<br/>&nbsp;Статистика&nbsp;<br/>&nbsp;Таргетирование&nbsp;</i></h2>

                <p><i>Полный комплекс инструментов</i><br/><i>для эффективного размещения</i><br/><i>рекламных
                        материалов</i></p>

                <div class="da-img">

                    <img class="img-responsive" src="/assets/img/statistics.png" alt="">
                </div>
            </div>
            <div class="da-slide">
                <h2><i>Продажа</i><br/><i>остаточного</i><br/><i>трафика</i></h2>

                <p><i>Увеличение прибыли за счет</i><br/><i>продажи остаточного трафика</i><br/><i>сторонним рекламным системам</i>
                </p>

                <div class="da-img"><img src="/assets/img/ecommerce_sales.png" alt="image01"/></div>
            </div>
            <div class="da-slide">
                <h2><i>постоянно</i><br/><i>развивающийся</i><br/><i>функционал</i></h2>

                <p><i></i><br/><i>Наша команда постоянно трудится над тем,</i><br/><i>чтобы улучшить функционал системы</i>
                </p>

                <div class="da-img" style="margin-top:-70px"><img width="400px" src="/assets/img/settings.png" alt="image01"/></div>
            </div>

            <div class="da-arrows">
                <span class="da-arrows-prev"></span>
                <span class="da-arrows-next"></span>
            </div>
        </div>
    </div><!--/slider-->
    <!--=== End Slider ===-->

    {#<!--=== Purchase Block ===-->#}
    {#<div class="purchase">#}
    {#<div class="container">#}
    {#<div class="row">#}
    {#<div class="col-md-9 animated fadeInLeft">#}
    {#<span>Unify is a clean and fully responsive incredible Template.</span>#}

    {#<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum#}
    {#deleniti atque corrupti quos dolores et quas molestias excepturi vehicula sem ut volutpat. Ut#}
    {#non libero magna fusce condimentum eleifend enim a feugiat corrupti quos.</p>#}
    {#</div>#}
    {#<div class="col-md-3 btn-buy animated fadeInRight">#}
    {#<a href="#" class="btn-u btn-u-lg"><i class="fa fa-cloud-download"></i> Download Now</a>#}
    {#</div>#}
    {#</div>#}
    {#</div>#}
    {#</div><!--/row-->#}
    {#<!-- End Purchase Block -->#}

    <!--=== Content Part ===-->
    <div class="container content">
<center>
        <iframe class="inner" src="//www.slideshare.net/slideshow/embed_code/43206608" width="800" height="639"
                frameborder="0" marginwidth="0" marginheight="0" scrolling="no"
                style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;"
                allowfullscreen></iframe>
</center>

    </div><!--/container-->
    <!-- End Content Part -->

{% endblock %}