{% extends "CoreCommonBundle::main_layout.html.twig" %}

{# SEO - заголовки #}
{% block title %}PromoMaster.net — сервис продажи и управления рекламой{% endblock %}
{% block meta_keywords %}{% endblock %}
{% block meta_description %}{% endblock %}

{% block js_head %}
    {{ parent() }}

    <script type="text/javascript">
        jQuery(document).ready(function () {
            App.initSliders();
            ParallaxSlider.initParallaxSlider();
        });
    </script>

{% endblock %}

{% block content %}
    <!--=== Slider ===-->
    <div class="slider-inner">
        <div id="da-slider" class="da-slider">
            <div class="da-slide">

                <h2><i>&nbsp;Увеличение прибыли&nbsp;<br/>&nbsp;от рекламы&nbsp;<br/>&nbsp;на вашем сайте&nbsp;</i></h2>

                <p><i>Прямые рекламодатели будут</i><br/><i>находить вас сами!</i></p>

                <div class="da-img" style="margin-left:0px;margin-top:-70px">
                    <img class="img-responsive" src="/assets/img/master/profit.png" alt="">
                </div>
            </div>
            <div class="da-slide">
                <h2><i>&nbsp;Отчеты&nbsp;<br/>&nbsp;Статистика&nbsp;<br/>&nbsp;Таргетирование&nbsp;</i></h2>

                <p><i>Полный комплекс инструментов</i><br/><i>для эффективного размещения</i><br/><i>рекламных
                        материалов</i></p>

                <div class="da-img" style="margin-left:0px;margin-top:-70px">
                    <img class="img-responsive" src="/assets/img/master/statistics.png" alt="">
                </div>
            </div>
            <div class="da-slide">
                <h2><i>Продажа</i><br/><i>остаточного</i><br/><i>трафика</i></h2>

                <p><i>Увеличение прибыли за счет</i><br/><i>продажи остаточного трафика</i><br/><i>сторонним рекламным
                        системам</i>
                </p>

                <div class="da-img" style="margin-left:0px;margin-top:-70px"><img class="img-responsive"
                                                                                  src="/assets/img/master/ecommerce_sales.png"
                                                                                  alt="">
                </div>
            </div>
            <div class="da-slide">
                <h2><i>Постоянно</i><br/><i>развивающийся</i><br/><i>функционал</i></h2>

                <p><i>Наша команда постоянно трудится над тем,</i><br/><i>чтобы улучшить функционал системы</i>
                </p>

                <div class="da-img" style="margin-left:0px;margin-top:-70px"><img class="img-responsive"
                                                                                  src="/assets/img/master/settings.png"
                                                                                  alt="">
                </div>
            </div>

            <div class="da-arrows">
                <span class="da-arrows-prev"></span>
                <span class="da-arrows-next"></span>
            </div>
        </div>
    </div><!--/slider-->
    <!--=== End Slider ===-->


    <!--=== Content Part ===-->
    <div class="container content">
        <div class="row margin-bottom-30">
            <div class="col-md-6">
                <div class="service">

                    <div class="desc">

                        <h1>Что дает сервис вебмастеру</h1>
                        <br/>

                        <ul class="list-unstyled margin-bottom-20">
                            <i class=" fa    fa-bullhorn service-icon"></i>
                            <h2>Размещение вашего сайта в каталоге системы</h2>
                        </ul>

                        <ul class="list-unstyled margin-bottom-20">
                            <i class="fa fa-cogs service-icon"></i>
                            <h2>Удобное управление рекламой</h2>
                        </ul>


                        <ul class="list-unstyled margin-bottom-20">
                            <i class="fa   fa-eye service-icon"></i>
                            <h2>Контроль рекламных материалов</h2>
                        </ul>

                        <ul class="list-unstyled margin-bottom-20">
                            <i class="fa  fa-sliders service-icon"></i>
                            <h2>Гибкая настройка ценовой политики</h2>
                        </ul>

                        <ul class="list-unstyled margin-bottom-20">
                            <i class="fa fa-pie-chart service-icon"></i>
                            <h2>Подробные отчеты и статистика</h2>
                        </ul>

                        <ul class="list-unstyled margin-bottom-20">
                            <i class="fa fa-slideshare service-icon"></i>
                            <h2>Интеграция сторонних рекламных скриптов</h2>
                        </ul>

                        <ul class="list-unstyled margin-bottom-20">
                            <h2><i class="fa  fa-thumbs-up service-icon"></i>Простота использования сервиса</h2>
                        </ul>

                        <ul class="list-unstyled margin-bottom-20">
                            <i class="fa  fa-calculator service-icon"></i>
                            <h2>Бесплатное использование сервиса</h2>
                        </ul>

                        <ul class="list-unstyled margin-bottom-20">
                            <i class="fa fa-university service-icon"></i>
                            <h2>Безопасность сделки</h2>

                        </ul>
                        <ul class="list-unstyled margin-bottom-20">
                            <i class="fa fa-credit-card service-icon"></i>
                            <h2>Вывод средств удобным способом</h2>
                        </ul>

                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="service">

                    <div class="desc">

                        <h1>Что дает сервис рекламодателю</h1>
                        <br/>
                        <ul class="list-unstyled margin-bottom-20">
                            <i class="fa   fa-binoculars service-icon"></i>
                            <h2>Быстрый поиск качественных рекламных площадок</h2>
                        </ul>

                        <ul class="list-unstyled margin-bottom-20">
                            <i class="fa    fa-comments-o service-icon"></i>
                            <h2>Прямой контакт с вебмастером</h2>
                        </ul>

                        <ul class="list-unstyled margin-bottom-20">
                            <i class="fa    fa-users service-icon"></i>
                            <h2>Эффективное проведение рекламных кампаний</h2>
                        </ul>

                        <ul class="list-unstyled margin-bottom-20">
                            <i class="fa     fa-crosshairs service-icon"></i>
                            <h2>Настройка целевой аудитории</h2>
                        </ul>

                        <ul class="list-unstyled margin-bottom-20">
                            <i class="fa    fa-bar-chart-o service-icon"></i>
                            <h2>Подробные отчеты и статистика</h2>
                        </ul>


                        <ul class="list-unstyled margin-bottom-20">
                            <i class="fa    fa-sliders service-icon"></i>
                            <h2>Гибкая рекламная модель</h2>
                        </ul>


                        <ul class="list-unstyled margin-bottom-20">
                            <i class="fa    fa-file-video-o service-icon"></i>
                            <h2>Удобные рекламные форматы</h2>
                        </ul>


                        <ul class="list-unstyled margin-bottom-20">
                            <i class="fa    fa-thumbs-up service-icon"></i>
                            <h2>Простота использования сервиса</h2>
                        </ul>

                        <ul class="list-unstyled margin-bottom-20">
                            <i class="fa    fa-calculator service-icon"></i>
                            <h2>Бесплатное использование сервиса</h2>
                        </ul>


                        <ul class="list-unstyled margin-bottom-20">
                            <i class="fa    fa-university service-icon"></i>
                            <h2>Безопасность сделки</h2>
                        </ul>


                    </div>
                </div>
            </div>
        </div>
        <!-- End Content Part -->

{% endblock %}