{% extends "CoreCommonBundle::main_layout.html.twig" %}

{# SEO - заголовки #}
{% block title %}PromoMaster - правила размещения площадок{% endblock %}
{% block meta_keywords %}{% endblock %}
{% block meta_description %}{% endblock %}

{% block js_head %}
    {{ parent() }}

    <script type="text/javascript">
        jQuery(document).ready(function () {
            App.initSliders();
            ParallaxSlider.initParallaxSlider();
        });
    </script>

{% endblock %}

{% block content %}

    <div class="breadcrumbs">
        <div class="container">
            <h1 class="pull-left">Добавление площадок</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="{{ path('core_common_index') }}">Главная</a></li>
                <li class="active">Правила размещения площадок</li>
            </ul>
        </div><!--/container-->
    </div>

<div class="container content parallax-about">
        <h2>Правила размещения площадок</h2>
        <ul class="list-unstyled margin-bottom-20">
            <p><li><i class="fa fa-check color-green"></i> В системе могут принимать участие сайты на русском и/или украинском языках.</li></p>
            <p><li><i class="fa fa-check color-green"></i> Посещаемость сайта должна быть не менее 300 человек в день за последний месяц, перед датой подачи заявки на участие в системе.</li></p>
            <p><li><i class="fa fa-check color-green"></i> Сайт должен быть участником хотя бы одной из признанных систем статистики (Liveinternet, Rambler Top100, Top.Mail.ru, Яндекс.Метрика, Google Analytics и др). При подаче заявки на модерацию убедитесь, что информация об источниках и поисковых запросах в статистике сайта открыта</li></p>

<hr/>
            <p><b>Мы заинтересованы в работе с добросовестными вебмастерами, которые могут предоставить качественный трафик, поэтому в  систему не принимаются сайты следующих тематик:</b></p>
            <p><li><i class="fa fa-check color-green"></i> Сайты, содержащие контент эротического и порнографического характера, или рекламирующие подобные материалы, имеющие оскорбительное и/или порнографическое содержание.</li></p>
            <p><li><i class="fa fa-check color-green"></i> Сайты, злоупотребляющие рекламными форматами (pop-up, pop-under, click-under и аналогичными).</li></p>
            <p><li><i class="fa fa-check color-green"></i> Сайты, содержащие вредоносный код или ссылающиеся на страницы, содержащие его. Сайты, которые не проходят проверки безопасности браузеров IE, Firefox, Opera, Safari, Chrome; находящиеся в черных списках антивирусных программ.</li></p>
            <p><li><i class="fa fa-check color-green"></i> Сайты, посвященные вопросам заработка в сети Интернет, разнообразного накручивания счетчиков и искусственного посещения.</li></p>
            <p><li><i class="fa fa-check color-green"></i> Сайты, не имеющие собственного контента; специально созданные для перенаправления пользователя на другие страницы.</li></p>
            <p><li><i class="fa fa-check color-green"></i> Сайты, источниками посещаемости которых являются биржи трафика, системы активной раскрутки, автосёрфинга и т.п.</li></p>
            <p><li><i class="fa fa-check color-green"></i> Незаконченные, находящиеся в разработке сайты.</li></p>
            <p><li><i class="fa fa-check color-green"></i> Сайты следующих тематик: азартные игры, финансовые пирамиды,  сетевой маркетинг т.п.</li></p>
            <p><li><i class="fa fa-check color-green"></i> Не принимаются сайты с содержанием низкого качества.</li></p>
            <p><li><i class="fa fa-check color-green"></i> Сайты хостинги изображений, а также линкхостинги.</li></p>
        </ul>
    </div>




{% endblock %}
