{% extends "CoreCommonBundle::main_layout.html.twig" %}

{# SEO - заголовки #}
{% block title %}PromoMaster.net — интернет-магазин игрушек и детских товаров{% endblock %}
{% block meta_keywords %}Детские игрушки, транспорт, куклы, машинки, детские товары{% endblock %}
{% block meta_description %}Интернет-магазин детских товаров, где можно купить игрушки, самокаты, радионяни, бутылочки.{% endblock %}

{% block js_head %}
    {{ parent() }}




    <!-- PromoMaster.net  -->
    <div id="promomaster_adplace_5"></div>
    <script type="text/javascript"><!--
        if (typeof(__PromoMasterClient) === 'undefined') {
            var jq = document.createElement('script');
            jq.type = 'text/javascript';
            jq.src = 'http://promomaster/js/compiled/server_client.js';
            document.getElementsByTagName('head')[0].appendChild(jq);
        } onload = function() {__GET_AD(5);}
        //--></script>
    <!--End PromoMaster.net -->







{% endblock %}

{% block content %}



{% endblock %}
