{% extends "CoreCommonBundle::main_layout.html.twig" %}

{# SEO - заголовки #}
{% block header %}{% endblock %}
{% block menu %}{% endblock %}
{% block footer %}{% endblock %}

{% block content %}
<div role="main" class="contacts_page info_page" id="content">
    <div class="main_col">
        <div class="main_col_pad">
            <h1>Контактная информация</h1>

            <section class="info">
                <div class="general">
                    <h2>ООО «РОСТПЭЙ»</h2>
                    <p>Россия, г. Ростов-на-Дону, Бизнес-центр «Гвардейский», пер. Доломановский, 70Д, офис №1001 (10 этаж)</p>
                </div>
                {#
                <img height="367" width="284" alt="Бизнес-центр «Гвардейский», пер. Доломановский, 70Д" src="{{asset('images/office_photo.jpg')}}" class="office_photo">
                #}
                <dl class="contacts_list">
                    <dd class="contacts_list_name">Телефоны</dd>
                    <dt class="contacts_list_info">
                        <ul class="round_bullet">
                            <li>+7 (495) 916-72-52 Москва</li>
                            <li>+7 (812) 604-43-47 Санкт-Петербург</li>
                            <li>+7 (863) 280-01-01 Ростове-на-Дону</li>
                        </ul>
                    </dt>
                    <dd class="contacts_list_name">E-mail</dd>
                    <dt class="contacts_list_info"><a href="mailto:support@olikids.com">support@olikids.com</a></dt>
                    {#<dd class="contacts_list_name">Skype</dd>
                    <dt class="contacts_list_info">PromoMaster.net (только для звонков)</dt>
                    #}
                    <dd class="contacts_list_name">Юридический адрес</dd>
                    <dt class="contacts_list_info">344011, г. Ростов-на-Дону, пер.Доломановский, д. 70Д, оф.1 (10 этаж)</dt>
                    <dd class="contacts_list_name">Почтовый адрес</dd>
                    <dt class="contacts_list_info">344011, г. Ростов-на-Дону, пер.Доломановский, д. 70Д, оф.1001</dt>
                    <dd class="contacts_list_name">Банковские реквизиты</dd>
                    <dt class="contacts_list_info">
                        <ul class="list_simple">
                                <li>ОГРН: 1086168004669</li>
                                <li>ИНН/КПП: 6168024612/616401001</li>
                                <li>Р/счет: 40702810681000895501 в Южном филиале ОАО "Промсвязьбанк", г. Волгоград</li>
                                <li>БИК: 041806715</li>
                                <li>К/счет: 30101810100000000715</li>
                        </ul>
                    </dt>
                </dl>
            </section>
        </div>
    </div>
</div>
{% endblock %}
