{% extends "CoreCommonBundle::main_layout.html.twig" %}
{# SEO - заголовки #}
{% block title %}Контакты{% endblock %}
{% block meta_keywords %}Контакты{% endblock %}
{% block meta_description %}Контакты{% endblock %}

{% block content %}

<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">Контактная информация</h1>
        <ul class="pull-right breadcrumb">
            <li>
                <a href="{{path('core_common_index')}}">OliKids</a>
            </li>
            <li class="active">Контактная информация</li>
        </ul>
    </div>
</div>
<div class="container content">
    <div class="row margin-bottom-30">
        <div class="col-md-9 mb-margin-bottom-30">
            <div class="headline">
                <h2>Задайте нам вопрос</h2>
            </div>
            <p>Мы постоянно работаем над качеством сайта, удобством его использования и повышением уровня наших услуг.
                Если у вас есть какие-либо предложения, пожелания, комментарии, вопросы или проблемы при использовании
                нашего сервиса, заполните, пожалуйста, форму, чтобы связаться с нами.</p>
            <p>Пожалуйста, для оформления и оплаты заказа ознакомьтесь с разделом <a href="{{path('core_faq_homepage')}}">Помощь</a>.</p>

            {% include 'CoreTroubleTicketBundle:TroubleTicket:form.html.twig' %}
        </div>
        {#RIGHT BLOCK#}
        <div class="col-md-3">
            <!-- Contacts -->
            <div class="headline"><h2>Contacts</h2></div>
            <ul class="list-unstyled who margin-bottom-30">
                <li><a href="#"><i class="fa fa-home"></i>5B Streat, City 50987 New Town US</a></li>
                <li><a href="#"><i class="fa fa-envelope"></i>info@example.com</a></li>
                <li><a href="#"><i class="fa fa-phone"></i>1(222) 5x86 x97x</a></li>
                <li><a href="#"><i class="fa fa-globe"></i>http://www.example.com</a></li>
            </ul>

            <!-- Business Hours -->
            <div class="headline"><h2>Business Hours</h2></div>
            <ul class="list-unstyled margin-bottom-30">
                <li><strong>Monday-Friday:</strong> 10am to 8pm</li>
                <li><strong>Saturday:</strong> 11am to 3pm</li>
                <li><strong>Sunday:</strong> Closed</li>
            </ul>

            <!-- Why we are? -->
            <div class="headline"><h2>Why we are?</h2></div>
            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum.</p>
            <ul class="list-unstyled">
                <li><i class="fa fa-check color-green"></i> Odio dignissimos ducimus</li>
                <li><i class="fa fa-check color-green"></i> Blanditiis praesentium volup</li>
                <li><i class="fa fa-check color-green"></i> Eos et accusamus</li>
            </ul>
        </div>
        {#END RIGHT BLOCK#}
    </div>
</div>
{% endblock %}
