{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    <a href="{{path('admin_core_statistics_notfinishedorder_show',{'id':object.id})}}">{{object.id}}</a>
{% endblock %}
