
{#**
 * Шаблон для вывода кол-ва сертификатов с ссылкой на них у производителя
 *
 * @author Sergeev A.M.
 * @copyright LLC "PromoMaster"
 *#}

{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}

    {% spaceless %}

    {%
        set filter = {
            'filter[manufacturer][value]': object.id,
            'filter[_page]': 1,
            'filter[_sort_by]': 'indexPosition',
            'filter[_sort_order]': 'ASC',
            'filter[_per_page]': 25,
        }
    %}

    {% if object.certificates|length %}
        <a href="{{ path('admin_core_manufacturer_certificate_list', filter) }}" title="Перейти к сертификатом производителя"><span class="icon-search"></span>&nbsp;{{ object.certificates|length }}</a>
    {% else %}
        -
    {%endif%}

    {% endspaceless %}

{% endblock %}





