{% extends "CoreCommonBundle::main_layout.html.twig" %}
{% block content %}
    {# BreadCrumbs

    <div class="breadcrumbs-v2 faq-breadcrumb margin-bottom-20">
        <div class="breadcrumbs-v2-in">
            <h1>Часто задаваемые ворросы</h1>
            <ul class="breadcrumb-v2 list-inline">{% block breadcrumbs %}{% endblock %}</ul>
        </div>
    </div>
    #}
    <div class="breadcrumbs">
        <div class="container">
            <h1 class="pull-left">Часто задаваемые вопросы</h1>
            <ul class="pull-right breadcrumb">{% block breadcrumbs %}{% endblock %}</ul>
        </div>
    </div>
    {# END BreadCrumbs #}
    <div class="container content">
        <div class="row">
            {# Main Content Block #}
            <div class="col-md-9">
                {% block main_content %}{% endblock %}
            </div>
            {# End Main Content Block #}
            {# Right Block #}
            <div class="col-md-3">
                <!-- Contacts -->
                <div class="headline"><h2>Контакты</h2></div>
                <ul class="list-unstyled who margin-bottom-30">
                    {#<li><a href="#"><i class="fa fa-home"></i>5B Streat, City 50987 New Town US</a></li>#}
                    <li>
                        <script type="text/javascript">
                            <!--
                            var title = "info"+"@"+"promomaster.net";
                            var email = "info";
                            var emailHost = "promomaster.net";
                            document.write("<a href=" + "mail" + "to:" + email + "@" + emailHost+ "><i class='fa fa-envelope'></i>" + title + "</a>");
                            //-->
                        </script>
                    </li>
                    {#<li><a href="#"><i class="fa fa-phone"></i>1(222) 5x86 x97x</a></li>#}
                    <li><a href="#"><i class="fa fa-globe"></i>http://www.promomaster.net</a></li>
                    <li><a href="#"><i class="fa fa-skype"></i>promomaster.net</a></li>

                </ul>
                <!-- End Contacts -->
                <!-- Business Hours -->
                <div class="headline"><h2>Часы работы</h2></div>
                <ul class="list-unstyled margin-bottom-30">
                    <li><strong>Пон.-пят.:</strong> 9.00-18.00</li>
                    <li><strong>Суббота:</strong> выходной</li>
                    <li><strong>Воскресенье:</strong> выходной</li>
                </ul>
                <!-- End Business Hours -->

            </div>
            {# End Right Block #}
        </div>
    </div>

{% endblock %}

