<p>Здравствуйте. Меня зовут Сергеев Александр</p>
<p>Я наткнулся на ваш сайт {{ data.site}} и хочу сообщить, что вы можете увеличить доход от монетизации трафика.</p>
<br>
<p>Наша кампания запустила бесплатный сервис для вебмастеров PromoMaster. Сервис позволяет управлять рекламой на сайтах из личного кабинета
    и привлекать прямых рекламодателей к вашему ресурсу. Для этого нужно просто добавить свой сайт в каталог сервиса.</p>
<p>В каталоге уже более 3000 площадок, надеюсь, вы присоединитесь к нам :)</p>

<br>
<p>Вот информация для вебмастера <a href="https://promomaster.net/webmaster.html">https://promomaster.net/webmaster.html</a></p>
<p>Учитывая тематику вашего сайта, думаю, должно хорошо сработать.</p>
<br>
<p>Напишите, пожалуйста, насколько вам оказался полезен сервис PromoMaster.</p>

<br>
<p>
--<br>
С уважением,<br>
Сергеев Александр<br>
<a href="https://promomaster.net">https://promomaster.net</a>
</p>