{#вывод списка рекламных компаний в ЛК#}
{% extends "ApplicationSonataUserBundle::cabinet_layout.html.twig" %}

{# SEO - заголовки #}
{% block title %}Ваши рекламные компании{% endblock %}
{% block meta_keywords %}{% endblock %}
{% block meta_description %}{% endblock %}

    {% block breadcrumbs %}
        <!--=== Breadcrumbs ===-->
        <div class="breadcrumbs">
            <div class="container">
                <h1 class="pull-left">Рекламные компании</h1>
                <ul class="pull-right breadcrumb">
                    <li><a href="{{ path('core_common_index') }}">На главную</a></li>
                    <li><a href="{{ path('sonata_user_profile_show') }}">Кабинет</a></li>
                    <li class="active">Список рекламных компаний</li>
                </ul>
            </div>
        </div>
        <!--=== End Breadcrumbs ===-->
    {% endblock %}

  {% block js_head %}
      {{ parent() }}
      <script>
          $(function () {
              $(document).on('click', '.set-status', function () {
                  var d = new Date();
                  var t = d.getTime();

                  $.get($(this).attr('data-url')+'?t='+t).done(function (response) {
                      $('#adcompanyContent').html(response);
                  });
              })

          })
      </script>

  {% endblock %}


{% block sub_content %}

    <div id="adcompanyContent">
        {{ include('@CoreAdCompany/AdCompany/Cabinet/list_ajax.html.twig') }}
    </div>

{% endblock %}

