{#вкладки для рекламной компании в ЛК#}
{% extends "ApplicationSonataUserBundle::cabinet_layout.html.twig" %}

{% block sub_content %}

    <div class="tab-v2">
        <ul class="nav nav-tabs">
            <li {% if app.request.attributes.get('_route')=='core_cabinet_adcompany_edit'
            or
            app.request.attributes.get('_route')=='core_cabinet_adcompany_create'
             %} class="active"  {% endif %}><a href="   {% if adcompany.id %}{{ path('core_cabinet_adcompany_edit', {id:adcompany.id}) }}{% else %}#{% endif %}" >Настройки рекламной компании</a></li>
            <li><a href="#profile-1" data-toggle="tab2">Размещения</a></li>
            <li><a href="#messages-1" >Таргетинг</a></li>
            {% if adcompany.id %}
            <li {% if app.request.attributes.get('_route')=='core_statistics_ad_company_chart_statistics' %} class="active"  {% endif %}><a href="{{ path('core_statistics_ad_company_chart_statistics', {id:adcompany.id}) }}" >Статистика</a></li>
            {% endif %}
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade in {% if app.request.attributes.get('_route')=='core_cabinet_adcompany_edit' or
            app.request.attributes.get('_route')=='core_cabinet_adcompany_create'

            %} active {% endif %}" id="tab1">
                {% block tab_content1 %}
                {% endblock %}
            </div>
            <div class="tab-pane fade in" id="tab2">
                {% block tab_content2 %}
                {% endblock %}
            </div>
            <div class="tab-pane fade in" id="tab3">
                {% block tab_content3 %}
                {% endblock %}
            </div>

            {% if adcompany.id %}
            <div class="tab-pane fade in  {% if app.request.attributes.get('_route')=='core_statistics_ad_company_chart_statistics' %} active {% endif %}" id="tab4">
                {% block tab_content4 %}
                {% endblock %}
            </div>
            {% endif %}
        </div>
    </div>


{% endblock %}
