{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field%}
    {%set p_id=false%}
    {%for ind, cat in object.categories%}
        <div style="min-width:200px">
            <table class="noCSS" >
                <tr>
                    <td>
                    {% if cat.parent.id is defined  %}{%if cat.parent.id!=p_id%}-&nbsp;{%else%}&nbsp;&nbsp;{%endif%}{%endif%}</td>
                <td>{%if cat.parent and cat.parent.lvl%}{%if cat.parent.id!=p_id%}<b>{{  cat.parent.captionRu }}</b>
                    &nbsp;&nbsp;→{%if object.categories[ind+1] is defined and object.categories[ind+1].parent.id==cat.parent.id%}<br/>{%else%}&nbsp;&nbsp;{%endif%}{%else%}{%endif%}{%endif%}
                    <a href="{{path('admin_core_category_productcategory_edit',{id:cat.id})}}">{{  cat.captionRu }}</a>
                    {%if object.categories[ind+1] is defined and
object.categories[ind+1].parent.id is defined and
cat.parent.id is defined and
object.categories[ind+1].parent.id==cat.parent.id%},&nbsp;{%endif%}
                </td>
            </tr>
        </table>
    </div>
    {%if cat.parent.id is defined%}
        {%set p_id=cat.parent.id%}
    {%endif%}
{%endfor%}
{% endblock %}