{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field%}
    {%set getAvailabilityQuantityReal=object.getAvailabilityQuantityReal%}
    {%set getAvailabilityQuantityVirtualReal=object.getAvailabilityQuantityVirtualReal%}
<span title="Количество свободного товара, который лежит на складе" class="label 
      {%if getAvailabilityQuantityReal>1%}label-success{%else%}label-important{%endif%}">{{object.getAvailabilityQuantityReal}}</span>
      {%if getAvailabilityQuantityVirtualReal>0%}
<span title="Количество свободного товара, который едет на склад" class="label label-default">+{{object.getAvailabilityQuantityVirtualReal}}</span>
{%endif%}

{% endblock %}
