{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    {% if  not object.isCanBeInYml
    or not object.manufacturerMain.isCanBeInYml
    or (not object.orderOnly and not object.availabilityQuantity)
    or object.isDiscontinued %}
        {% if not object.availabilityQuantity %}
            <span title="Нет в наличии" class="label label-important">нет</span>
        {% else %}
            {% if not object.isCanBeInYml %}
                <span title="Отменена публикация товара" class="label label-important">нет</span>
            {% else %}
                {% if not object.manufacturerMain.isCanBeInYml %}
                    <span title="Отменена публикация производителя" class="label label-important">нет</span>
                {% else %}
                    {% if object.isDiscontinued %}
                        <span title="Снят с производства" class="label label-important">нет</span>
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endif %}
    {% else %}
        <span title="Включено в YML" class="label label-success">да</span>
    {% endif %}
{% endblock %}