{#
 Шаблон для костомных полей у формы редактирования состава заказа
 @author Sergeev A.M
 @copyright LLC "PromoMaster"
#}
{# переписываем вывод продукта#}
{% block  core_pre_order_compositions_admin_product_ajax_entity_widget %}
<div>
    {{ form_widget(form) }}
    
    <p class="OOPBQuantityExtraInfoContent" style="display: none;float:right">
        Остаток у поставщика:
        <span  title="Количество товара у поставщика" class="OOPBQuantityLabel label"></span>
        <span  class="OOPBQuantityUpdatedLabel label label-default" title="Дата обновления остатка"></span>
    </p>
</div>
{% endblock %}
