{% block  unit_in_stock_defect_widget %}
    {% set unit=sonata_admin.admin.subject %}
        <input  type="checkbox" {%if data%} checked="checked"  {%endif%} {{ block('widget_attributes') }} value="1">

        <div class="extraCanceledFields well well-sm" style="width:450px;margin-top:10px;margin-bottom: 0px;display:none">
            <table cellpadding="5" cellspacing="0">
                <tr>
                    <td>Причина списания *</td>
                    <td>
                        <select {%if unit.isWithDefect and not noDisable%} disabled {%endif%} style="width:300px" class="reasonSelect"  name="defectExtra[defectReason]" >
                            <option value="">Ничего не выбрано...</option>
                            {%for r in reasons%}
                                <option data-name="{{r.name}}" value="{{r.id}}" {%if unit.defectReason and unit.defectReason.id==r.id %} selected="selected" {%endif%}>{{r.captionRu}}</option>
                            {%endfor%}
                        </select>
                    </td>
                </tr>
            </table>
        </div>

        <script>
            $(document).ready(function() {
    

                $('.defectStatus').click(function() {
                    showHideExtraCanceledFields();
                });

                showHideExtraCanceledFields();
               
                function showHideExtraCanceledFields() {
                    if ($('.defectStatus').attr("checked") === "checked") {
                        $('.extraCanceledFields').show();
                        $('.reasonSelect').attr('required', 'required');
                    }
                    else {
                        $('.extraCanceledFields').hide();
                        $('.reasonSelect').removeAttr('required');                        
                    }
                }
            });
        </script>
        {% endblock %}