{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    {% if not object.status %}
        {% set labelStyle = 'label-default' %}
        {% elseif object.status and (object.status.name == 'executed') %}
            {% set labelStyle = 'label-success' %}
        {% else %}
            {% set labelStyle = 'label-important' %}
    {% endif %}
        {#
        <span {% if object.status.hex %}style="color: #{{object.status.hex}};"{% endif %}>{{object.status.captionRu}}</span>
        #}
            <span class="label {{labelStyle}}">{% if object.status %}{{object.status.captionRu}}{% else %}Новый{% endif %}</span>
{% endblock %}
