{% extends "CoreCommonBundle::main_layout.html.twig" %}

{# SEO - заголовки #}
{% block title %}{% endblock %}
{% block meta_keywords %}{% endblock %}
{% block meta_description %}{% endblock %}

{% block content %}
    <!--=== Breadcrumbs ===-->
    <div class="breadcrumbs">
        <div class="container">
            <h1 class="pull-left">Восстановление пароля</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="{{ path('core_common_index') }}">На главную</a></li>
                <li class="active">Восстановление пароля</li>
            </ul>
        </div>
        <!--/container-->
    </div><!--/breadcrumbs-->
    <!--=== End Breadcrumbs ===-->


    <!--=== Content Part ===-->
    <div class="container content">

        <div class="alert alert-warning fade in">
            <h1>{{ 'resetting.check_email'|trans({'%email%': email}, 'FOSUserBundle') }}</h1>
        </div>


        {#{% include "FOSUserBundle:Resetting:request_content.html.twig" %}#}
        <!--/row-->
    </div><!--/container-->
    <!--=== End Content Part ===-->

{% endblock %}

