<div class="row">
    <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
        <form id="auth_form" class="reg-page" action="{{ path('fos_user_resetting_send_email') }}"
              method="post">
            <div class="reg-header">
                <h2>Восстановление пароля</h2>
            </div>


            {% if invalid_username is defined %}
                <div class="form_field_error_txt ">
                    {{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}, 'FOSUserBundle') }}
                </div>
            {% endif %}


            <div class="input-group margin-bottom-20">
                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                <input type="email" id="username" name="username" required="required" placeholder="Email"
                       class="form-control">
            </div>


            <div class="row">
                <div class="col-md-6">

                </div>
                <div class="col-md-6">
                    <button class="btn-u pull-right" type="submit">Выслать</button>
                </div>
            </div>

        </form>
    </div>
</div>