button.common_button span {
	zoom:expression(this.runtimeStyle.zoom="1",this.appendChild( document.createElement("small") ).className="after"); /* IE7 :after hack */
}
a.common_button {
	zoom:expression(this.runtimeStyle.zoom="1",this.appendChild( document.createElement("small") ).className="after"); /* IE7 :after hack */
}

ul.list_bullet > li {zoom:expression(this.runtimeStyle.zoom="1",this.appendChild( document.createElement("small") ).className="before"); /* IE7 :after hack */}
ul.list_bullet > li {padding-left:1.5em;text-indent:0;position:relative;}
ul.list_bullet > li > .before {width:10px;height:1px;background:#000;display:block;position:absolute;top:.6em;left:0;}

ul.round_bullet > li {zoom:expression(this.runtimeStyle.zoom="1",this.appendChild( document.createElement("small") ).className="before"); /* IE7 :after hack */}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------ */

/* layout */
#header, #navigation_bar, .footer_container, #page_path, #order_steps {width:1200px}
#content {width:1220px}

/* grid set up*/
.grid_container {zoom:1;clear:both;}
.grid_container > * {z-index: expression( runtimeStyle.zIndex = 1, runtimeStyle.width = parentNode.offsetWidth/4 - 22 + 'px');} /* IE7 */

/* forms */
.search_input {zoom:expression(this.runtimeStyle.zoom="1",this.appendChild( document.createElement("small") ).className="after");/* IE7 */}

/* sort filter */
.filter_sort_switch.active a {zoom:expression(this.runtimeStyle.zoom="1",this.appendChild( document.createElement("small") ).className="after"); /* IE7 :after hack */}

/* page path */
.page_path_link a {zoom:expression(this.runtimeStyle.zoom="1",this.appendChild( document.createElement("small") ).className="after"); /* IE7 :after hack */}

/* pagination */
.pagination_prev, .pagination_next {zoom:expression(this.runtimeStyle.zoom="1",this.appendChild( document.createElement("small") ).className="after"); /* IE7 :after hack */}

.with_icon {zoom:expression(this.runtimeStyle.zoom="1",this.appendChild( document.createElement("small") ).className="after"); /* IE7 :after hack */}

.more_info {zoom:expression(this.runtimeStyle.zoom="1",this.appendChild( document.createElement("small") ).className="after"); /* IE7 :after hack */}

.brown_gradient_box.with_arrow {filter:none;zoom:expression(this.runtimeStyle.zoom="1",this.appendChild( document.createElement("small") ).className="after"); /* IE7 :after hack */}

.info_box, .attention_box {zoom:expression(this.runtimeStyle.zoom="1",this.appendChild( document.createElement("small") ).className="after"); /* IE7 :after hack */}

.dropdown {border:1px solid #e6e3dd;}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------ */

/* header */
.header_useraccount_dropdown li .notice_indicator {margin:0;padding-left:30px}
.header_useraccount_dropdown li .notice_indicator .after {left:5px}
.header_usercart_link strong {zoom:expression(this.runtimeStyle.zoom="1",this.appendChild( document.createElement("small") ).className="after"); /* IE7 :after hack */}

/* promo */
#promo {width:expression((document.documentElement.clientWidth || document.body.clientWidth) < 1200 ? "1200px" :"auto")}
.promo_actions {width:1200px}

/* products grid */
.products_grid.row_one .grid_container > * {z-index: expression( runtimeStyle.zIndex = 1, runtimeStyle.width = parentNode.offsetWidth - 22 + 'px');} /* IE7 */
.products_grid.row_three .grid_container > * {z-index: expression( runtimeStyle.zIndex = 1, runtimeStyle.width = parentNode.offsetWidth/3 - 22 + 'px');} /* IE7 */
.products_grid.row_four .grid_container > * {z-index: expression( runtimeStyle.zIndex = 1, runtimeStyle.width = parentNode.offsetWidth/4 - 22 + 'px');} /* IE7 */
.products_grid.row_five .grid_container > * {z-index: expression( runtimeStyle.zIndex = 1, runtimeStyle.width = parentNode.offsetWidth/7 - 22 + 'px');} /* IE7 */

/* product page */
.product_page {width:auto !important}
.product_page_pad, .product_header {width:1220px}
.product_header {width:1200px}
.product_spec_skills {width:59%}

.product_favor {display:block}
.product_ask {display:block}

.product_skills, .product_techinfo {z-index: expression( runtimeStyle.zIndex = 1, runtimeStyle.width = parentNode.offsetWidth/2 - 20 + 'px') /* IE7 */}

/* cart */
.cart_product_tool .text_tgl {display:block}
.cart_package.show {display:inline-block}

/* order */
.order_step_item {zoom:expression(this.runtimeStyle.zoom="1",this.appendChild( document.createElement("small") ).className="after"); /* IE7 :after hack */}
.order_proceed_goprev {zoom:expression(this.runtimeStyle.zoom="1",this.appendChild( document.createElement("small") ).className="after"); /* IE7 :after hack */}


/* order commons */
.group_switch {padding-bottom:1px}
.group_switch.active {zoom:expression(this.runtimeStyle.zoom="1",this.appendChild( document.createElement("small") ).className="after"); /* IE7 :after hack */}

.type_switches {padding-bottom:25px}
.type_switch.active {zoom:expression(this.runtimeStyle.zoom="1",this.appendChild( document.createElement("small") ).className="after"); /* IE7 :after hack */}

/* order finish */
.order_resume h2 span {zoom:expression(this.runtimeStyle.zoom="1",this.appendChild( document.createElement("small") ).className="after"); /* IE7 :after hack */}

/* customer cabinet */
.cabinet_discussion_comment.official {zoom:expression(this.runtimeStyle.zoom="1",this.appendChild( document.createElement("small") ).className="after"); /* IE7 :after hack */}

/* help */
.help_cats .grid_container > * {*z-index: expression( runtimeStyle.zIndex = 1, runtimeStyle.width = parentNode.offsetWidth/2 - 20 + 'px');} /* IE7 */
.help_cat_link {zoom:expression(this.runtimeStyle.zoom="1",this.appendChild( document.createElement("small") ).className="after"); /* IE7 :after hack */}

/* error pages 404 505 etc */
.error_page .popular_products .showcase_nav {width:4.9%}

.error_page .grid_container > * {*z-index: expression( runtimeStyle.zIndex = 1, runtimeStyle.width = parentNode.offsetWidth/5 - 20 + 'px');} /* IE7 */
.error_page .grid_container > .popular_products {*z-index: expression( runtimeStyle.zIndex = 1, runtimeStyle.width = (parentNode.offsetWidth/5 - 20)*3 + 'px');}

/* */
.call_us_sidebox h2 {zoom:expression(this.runtimeStyle.zoom="1",this.appendChild( document.createElement("small") ).className="after"); /* IE7 :after hack */}

.notice_indicator {zoom:expression(this.runtimeStyle.zoom="1",this.appendChild( document.createElement("small") ).className="after"); /* IE7 :after hack */}

/* sidebar filter */
.filter_cats input {*margin:0}
.filter_gender_tgl {zoom:expression(this.runtimeStyle.zoom="1",this.appendChild( document.createElement("small") ).className="after"); /* IE7 :after hack */}

/* footer */
#footer .grid_container > * {*z-index: expression( runtimeStyle.zIndex = 1, runtimeStyle.width = parentNode.offsetWidth/5 - 20 + 'px');} /* IE7 */
#footer .grid_container > .footer_info {*z-index: expression( runtimeStyle.zIndex = 1, runtimeStyle.width = (parentNode.offsetWidth/5 - 20)*2 + 'px');}