.def_style html,
.def_style address,
.def_style blockquote,
.def_style body,
.def_style dd,
.def_style div,
.def_style dl,
.def_style dt,
.def_style fieldset,
.def_style form,
.def_style frame,
.def_style frameset,
.def_style h1,
.def_style h2,
.def_style h3,
.def_style h4,
.def_style h5,
.def_style h6,
.def_style noframes,
.def_style ol,
.def_style p,
.def_style ul,
.def_style center,
.def_style dir,
.def_style hr,
.def_style menu,
.def_style pre   { display: block; unicode-bidi: embed }
.def_style li              { display: list-item; margin: 1.12em 0}
.def_style ul li           { list-style: circle}
.def_style ol li           { list-style: decimal}
.def_style head            { display: none }
.def_style table           { display: table }
.def_style tr              { display: table-row }
.def_style thead           { display: table-header-group }
.def_style tbody           { display: table-row-group }
.def_style tfoot           { display: table-footer-group }
.def_style col             { display: table-column }
.def_style colgroup        { display: table-column-group }
.def_style td,
.def_style th          { display: table-cell }
.def_style caption         { display: table-caption }
.def_style th              { font-weight: bolder; text-align: center }
.def_style caption         { text-align: center }
.def_style body            { margin: 8px }
.def_style h1              { font-size: 2em; margin: .67em 0 }
.def_style h2              { font-size: 1.5em; margin: .75em 0 }
.def_style h3              { font-size: 1.17em; margin: .83em 0 }
.def_style h4,
.def_style p,
.def_style blockquote,
.def_style ul,
.def_style fieldset,
.def_style form,
.def_style ol,
.def_style dl,
.def_style dir,
.def_style menu            { margin: 1.12em 0 }
.def_style h5              { font-size: .83em; margin: 1.5em 0 }
.def_style h6              { font-size: .75em; margin: 1.67em 0 }
.def_style h1,
.def_style h2,
.def_style h3,
.def_style h4,
.def_style h5,
.def_style h6,
.def_style b,
.def_style strong          { font-weight: bolder }
.def_style blockquote      { margin-left: 40px; margin-right: 40px }
.def_style i,
.def_style cite,
.def_style em,
.def_style var,
.def_style address    { font-style: italic }
.def_style pre,
.def_style tt,
.def_style code,
.def_style kbd,
.def_style samp       { font-family: monospace }
.def_style pre             { white-space: pre }
.def_style button,
.def_style textarea,
.def_style a {
    color: #3888bb !important;
}
.def_style a:hover {
    color: #e99318 !important;
}
.def_style input,
.def_style select   { display: inline-block }
.def_style big             { font-size: 1.17em }
.def_style small,
.def_style sub,
.def_style sup { font-size: .83em }
.def_style sub             { vertical-align: sub }
.def_style sup             { vertical-align: super }
.def_style table           { border-spacing: 2px; }
.def_style thead,
.def_style tbody,
.def_style tfoot           { vertical-align: middle }
.def_style td,
.def_style th,
.def_style tr      { vertical-align: inherit }
.def_style s,
.def_style strike,
.def_style del  { text-decoration: line-through }
.def_style hr              { border: 1px inset }
.def_style ol,
.def_style ul,
.def_style dir,
.def_style menu,
.def_style dd        { margin-left: 40px }
.def_style ol              { list-style-type: decimal }
.def_style ol ul,
.def_style ul ol,
.def_style ul ul,
.def_style ol ol    { margin-top: 0; margin-bottom: 0 }
.def_style u, ins          { text-decoration: underline }
.def_style br:before       { content: "\A"; white-space: pre-line }
.def_style center          { text-align: center }
/*.def_style :link, :visited { border-bottom: 1px dotted #3888bb !important; }*/
.def_style :focus          { outline: thin dotted invert }
.def_style table           { border-spacing: 2px; padding: 3px; border: 1px solid #d7d4cf;}
.def_style td, .def_style th {
    padding: 3px;
    border: 1px solid #d7d4cf;
}