
{#**
 * Главный шаблон каталога товаров
 *
 * @author Sergeev A.M.
 * @copyright LLC "PromoMaster"
 *#}

{% extends 'CoreCommonBundle::main_layout.html.twig' %}

{% block content %}
    {% spaceless %}

        <!-- breadcrumbs -->
        {% block breadcrumbs %}{% endblock %}
        <!-- /breadcrumbs -->

        <!-- promo -->
        {% block promo %}{% endblock %}
        <!-- /promo -->

        <!-- content with cols -->
        <div id="content" role="main">

            <!-- main content col -->
            <div class="main_col">
                <div class="main_col_pad">
                    {% block main_col %}{% endblock %}
                </div>
            </div>
            <!-- /main content col -->

            <!-- side content col -->
            <aside class="side_col">
                <div class="side_col_pad">

                    {% block right_col %}{% endblock %}

                </div>
            </aside>
            <!-- /side content col -->

        </div>
        <!-- /content with cols -->

    {% endspaceless %}
{% endblock %}