{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}
{% block field%}
<a href="{{path('admin_core_logistics_supply_edit', {id: object.supply.id})}}"># {{object.supply.id}}</a>

{% endblock %}