{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    {% if object.priceFile[0].name is defined %}
       <a href="{{ asset(object.priceFile[0]|getFileWebPath) }}">{{ object.priceFile[0].name }}</a>
    {% endif %}
{% endblock %}





