{% extends 'ApplicationSonataAdminBundle:CRUD:base_edit.html.twig' %}
{% block formactions %}
    {{ parent() }}
    <div id="preview_modal" class="modal hide">
        <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Предпросмотр</h3>
        </div>
        <div class="modal-body"></div>
        <div class="modal-footer">
            <a data-dismiss="modal" href="#" class="btn">Закрыть</a>
            <a class="btn btn-primary" href="#">Сохранить</a>
        </div>
    </div>
{% endblock %}