{% spaceless %}
    <div class="tab-pane waybill-packages {% if isActive %}active{% endif %}" id="{{id}}">
        {#{{ form_errors(form) }}#}
        <fieldset>
            {{ form_widget(form) }}
        </fieldset>
    </div>
{% endspaceless %}
