{% spaceless %}
    <li class="collection-row control-group">
            {{ form_errors(form) }}
            {% for child in form %}
            <div class="pull-left">{{ form_widget(child) }}</div>
            {% endfor %}
            {% if (first is defined) and (allow_add and first) %}
                <div class="pull-left">
                    <a title="добавить" href="#" class="btn collection-modify-add"><i class="icon-plus"></i></a>
                </div>
            {% endif %}
            {% if allow_delete %}
                <div class="pull-left">
                    <a title="удалить" href="#" class="btn collection-modify-delete"><i class="icon-remove"></i></a>
                </div>
            {% endif %}
    </li>
{% endspaceless %}