<a target="_blank" href="{{path('trouble_ticket_edit',{'hash':object.hash})}}" class="btn view_link btn-small">
    <i class="icon-zoom-in"></i>
    {{ 'label.action_show_on_site'|trans({}, 'CoreTroubleTicketBundle') }}
</a>