{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    <div class="progress progress-info">
        <div class="bar" style="width: {{object.readiness ~ "%"}}">
            <span>{{object.readiness}}&percnt;</span>
        </div>
    </div>
{% endblock %}