{#
 Шаблон для костомных полей у формы редактирования поставки
 @author Sergeev A.M
 @copyright LLC "PromoMaster"
#}
{% block core_logistics_supply_admin_id_text_widget %}
    <h4>Поставка # {{ sonata_admin.admin.subject.id }}</h4>
    {% if sonata_admin.admin.subject.isCreatedForOrderOnly %}
        Создана автоматически для товара "под заказ".
        {% if sonata_admin.admin.subject.order %}
        Используется в
        <a href="{{ path('admin_core_order_order_edit', {id:sonata_admin.admin.subject.order.id}) }}">заказе
            №{{ sonata_admin.admin.subject.order.id }}</a>
            {% endif %}
    {% endif %}
{% endblock %}