{% spaceless %}
    <!DOCTYPE html>
    <!--[if IE 8]>
    <html lang="ru" class="ie8"> <![endif]-->
    <!--[if IE 9]>
    <html lang="ru" class="ie9"> <![endif]-->
    <!--[if !IE]><!-->
    <html lang="ru"> <!--<![endif]-->
    <head>
        <title>{% block title %}{% endblock %}</title>

        <!-- Meta -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{% block meta_description %}{% endblock %}">
        <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
        <meta name="author" content="">

        <!-- Favicon -->
        <link rel="shortcut icon" href="/favicon.ico">
        {#'assets/css/plugins/*'#}
        {#'assets/css/headers/*'#}
        {#'assets/css/footers/*'#}
        {% block css %}
            {% stylesheets
            'assets/plugins/bootstrap/css/bootstrap.min.css'
            'assets/plugins/line-icons/line-icons.css'
            'assets/plugins/font-awesome/css/font-awesome.min.css'
            'assets/plugins/sky-forms/version-2.0.1/css/sky-forms.css'
            'assets/plugins/sky-forms/version-2.0.1/css/custom-sky-forms.css'
            'assets/plugins/flexslider/flexslider.css'
            'assets/plugins/parallax-slider/css/parallax-slider.css'
            'assets/css/pages/page_log_reg_v1.css'
            'assets/css/theme-colors/default.css'
            'assets/css/pages/page_faq1.css'
            'assets/css/pages/profile.css'
            'assets/css/pages/feature_timeline2.css'
            'assets/css/custom.css'
            output='css/compiled/main.css'
            filter='cssrewrite,yui_css' %}
            <link rel="stylesheet" href="{{ asset_url }}"/>
            {% endstylesheets %}
            <link rel="stylesheet" href="/assets/css/style.css">

            <!--[if lt IE 9]>
            <link rel="stylesheet" href="/assets/plugins/sky-forms/version-2.0.1/css/sky-forms-ie8.css">
            <![endif]-->
            <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
            <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
            <![endif]-->

        {% endblock %}

        {% block js_head %}
            <script type="text/javascript">
                var
                        settingsJS = {
                            routes: [] // роуты

                        };
                settingsJS.routes['social_auth'] = "{{path('application_sonata_user_auth_social')}}";
            </script>

            {% javascripts
            'assets/plugins/jquery/jquery.min.js'
            'assets/plugins/jquery/jquery-migrate.min.js'
            'assets/plugins/bootstrap/js/bootstrap.min.js'
            'assets/plugins/sky-forms/version-2.0.1/js/jquery.maskedinput.min.js'
            'assets/plugins/sky-forms/version-2.0.1/js/jquery-ui.min.js'
            'assets/plugins/back-to-top.js'
            'assets/plugins/flexslider/jquery.flexslider-min.js'
            'assets/plugins/parallax-slider/js/modernizr.js'
            'assets/plugins/parallax-slider/js/jquery.cslider.js'
            'assets/plugins/jquery.zclip/jquery.zclip.min.js'
            'assets/plugins/highstock/highstock.js'
            'assets/plugins/highstock/modules/exporting.js'
            'assets/js/plugins/parallax-slider.js'
            'assets/js/plugins/datepicker.js'
            'assets/js/plugins/datepicker-ru.js'
            'assets/js/app.js'
            'assets/js/custom.js'
            'bundles/corefile/core_file_frontend.js'
            'bundles/corecommon/js/calendarFromTo.js'
            'bundles/corestatistics/highcharts/js/themes/customise.default.ru.js'

            output='js/compiled/main.js'
            filter='yui_js' %}
            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}

            <script type="text/javascript">
                jQuery(document).ready(function () {
                    App.init();
                    //Masking.initMasking();
                    Datepicker.initDatepicker();
                    //Validation.initValidation();
                });
            </script>

            <!--[if lt IE 9]>
            <script src="/assets/plugins/respond.js"></script>
            <script src="/assets/plugins/html5shiv.js"></script>
            <script src="/assets/js/plugins/placeholder-IE-fixes.js"></script>
            <![endif]-->

            <!--[if lt IE 10]>
            <script src="assets/plugins/sky-forms/version-2.0.1/js/jquery.placeholder.min.js"></script>
            <![endif]-->

        {% endblock %}

        {#инициализация быстрого редактирования#}
        {{ fastEditInit() }}
    </head>

    <body>
    {% block body %}{% endblock %}
    </body>

    </html>
{% endspaceless %}