{% extends "CoreCommonBundle::base_layout.html.twig" %}

 {% block body %}

     {#{% spaceless %}#}
         <div id="wrap">
             <div class="wrapper" >
                 {% block header %}

                     {{ render (controller ('CoreCommonBundle:Fragments:header', {'request': app.request, 'active_route': app.request.get('_route')})) }}
                 {% endblock %}

                 {% block content %}
                 {% endblock %}

             </div><!--/wrapper-->
         </div>
         {% block footer %}
             {{ render (controller ('CoreCommonBundle:Fragments:footer', {'request': app.request})) }}
         {% endblock %}
     {#{% endspaceless %}#}

 {% endblock %}






