{% extends "CoreCommonBundle::base_layout.html.twig" %}

 {% block body %}
     {#{% spaceless %}#}
         <div class="wrapper">
             {% block header %}
                 {{ render (controller ('CoreCommonBundle:Fragments:header', {'request': app.request})) }}
             {% endblock %}

             {% block content %}
             {% endblock %}

             {% block footer %}
                 {{ render (controller ('CoreCommonBundle:Fragments:footer', {'request': app.request})) }}
             {% endblock %}

         </div><!--/wrapper-->
     {#{% endspaceless %}#}
 {% endblock %}






