<div class="help-search{#brown_gradient_box#}">
    <form class="sky-form" action="{{path('core_faq_search')}}" method="GET"  {{ form_enctype(form) }}>
        <div class="row">
            <div class="col col-lg-8">
                <div class="form-group">
                    {{form_widget(form.searchQuery, { 'attr': {'placeholder':'Поиск', 'class':'form-control'} }) }}
                </div>
            </div>
            <div class="col col-lg-4">
                <div class="form-group"><button type="button" class="btn-u">Найти</button></div>
            </div>
            {% if isSearched is defined %}
                <a href="{{path('core_faq_homepage')}}" class="btn_off">Сбросить</a>
            {% endif %}
        </div>
    </form>
</div>