<div class="help-search{#brown_gradient_box#}">
    <form class="sky-form" action="{{path('core_faq_search')}}" method="GET"  {{ form_enctype(form) }}>
        <div class="row">
            <div class="col col-lg-8">
                <div class="form-group">
                    {{form_widget(form.searchQuery, { 'attr': {'placeholder':'Поиск', 'class':'form-control'} }) }}
                </div>
            </div>
            <div class="col col-lg-4">
                <div class="form-group">
                    <div class="row">
                        <div class="col col-lg-4">
                            <button type="submit" class="btn-u">Найти</button>
                        </div>
                        {% if isSearched is defined %}
                        <div class="col col-lg-4">
                            <a href="{{path('core_faq_homepage')}}" class="btn-u pull-right btn-u-red">Сбросить</a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>