            {#  Фиксируем по ширине таблицу адресов доставки #}
            {% block application_user_contragent_admin_addressList_sonata_type_collection_widget %}
                <div style="width:850px">
                    {{ block('sonata_type_collection_widget') }}
                </div>
            {% endblock %}
