{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}
{% block field%}

    {% if object.isCreatedForOrderOnly %}
        {% if object.order %}
        <a href="{{ path('admin_core_order_order_edit', {id:object.order.id}) }}">заказ #{{ object.order.id }}</a>
            {% else %}
                <span class="label label-success">Да</span>
            {% endif %}
        {% else %}
            <span class="label label-success">нет</span>
            {% endif %}

{% endblock %}