
{#**
 * Шаблон для вывода лайков
 *
 * @author Sergeev A.M.
 * @copyright LLC "PromoMaster"
 *#}

{% extends admin.getTemplate('base_list_field') %}

{% block field %}

    {% set positive = 0 %}
    {% set negative = 0 %}

    {% for like in value %}
        {% if like.type %}
            {% set positive = positive + 1 %}
        {% else %}
            {% set negative = negative + 1 %}
        {% endif %}
    {% endfor %}

    <span style="white-space: nowrap;">
        <span>{{ positive }} <span class="icon-thumbs-up"></span></span>
        &nbsp;
        <span>{{ negative }} <span class="icon-thumbs-down"></span></span>
    </span>

{% endblock %}

