{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    {% if (object.maxSum == NULL or  object.maxSum == 0) and (object.minSum == NULL or  object.minSum == 0) %}
        <div class="money">
            <span>&HorizontalLine;</span>
        </div>
        {% else %}
            {% set maxSum = (object.maxSum == NULL or  object.maxSum == 0) ? "&HorizontalLine;" : moneyFormat(object.maxSum) ~ ' ' ~ currencyFormat()%}
            {% set minSum = (object.minSum == NULL or  object.minSum == 0) ? "&HorizontalLine;" : moneyFormat(object.minSum) ~ ' ' ~ currencyFormat() %}
                <div class="money">
                    <span>{{minSum | raw}}</span>
                </div>
                <div class="money">
                    <span>{{maxSum | raw}}</span>
                </div>
    {% endif %}
{% endblock %}