{% if deliveryCompanies | length %}
    {% set noIndex =  (request and request.attributes.get('_route') == 'core_common_index') ? false : true %}
    <ul class="footer_delivery">
        {% for company in deliveryCompanies %}
            <li title="{{ attribute(company, 'caption' ~ app.request.locale) }}" class="delivery_{{company.name}} delivery_icon">{{attribute(company, 'caption' ~ app.request.locale )}}</li>
        {% endfor %}
        {% if article %}
            {% if noIndex %}<!--noindex-->{% endif %}
            <li class="all">
                <a {% if noIndex %}rel="nofollow" {% endif %}href="{{path('core_faq_article', {'articleSlug': article.slug, 'categorySlug': article.category.slug })}}">Все способы доставки</a>
            </li>
            {% if noIndex %}<!--/noindex-->{% endif %}
        {% endif %}
    </ul>
{% endif %}