{% if articles | length %}
{% set noIndex =  (request and request.attributes.get('_route') == 'core_common_index') ? false : true %}
{% if noIndex %}<!--noindex-->{% endif %}
<ul class="header_help pull-left">
    {% for article in articles %}
        {% if article.slug == 'checkout' %}
            {% set captionRu = 'Как заказать?' %}
        {% elseif article.slug == 'payment-order' %}
            {% set captionRu = ' Оплата' %}
        {% elseif article.slug == 'delivery-types' %}
            {% set captionRu = 'Доставка' %}
        {% else %}
            {% set captionRu = '' %}
        {% endif %}
        <li class="header_help_links">
            <a {% if noIndex %}rel="nofollow" {% endif %}href="{{path('core_faq_article', {'articleSlug': article.slug, 'categorySlug': article.category.slug })}}">{{captionRu}}</a>
        </li>
    {% endfor %}
</ul>
{% if noIndex %}<!--/noindex-->{% endif %}
{% endif %}