<aside class="side_col">
    <div class="side_col_pad">
        <ul class="sidebar_menu">
            {% set curRoute =  app.request.attributes.get('_route') %}
            {% set isActive = false %}
            {% if curRoute == 'core_faq_homepage' or curRoute == 'core_faq_search' or curRoute == 'core_faq_article' or curRoute == 'core_faq_category' %}
                {% set isActive = true %}
            {% endif %}
                <li class="sidebar_menu_item{% if isActive %} active{% endif %}"><a href="{{path('core_faq_homepage')}}" class="sidebar_menu_link">Помощь</a></li>
            
            {%if app.request.attributes.get('_route')=='core_common_about'%}
                <li class="sidebar_menu_item active"><span class="sidebar_menu_link">О магазине</span></li>
                {%else%}
                <li class="sidebar_menu_item"><a href="{{path('core_common_about')}}" class="sidebar_menu_link">О магазине</a></li>
                {%endif%}


            {%if app.request.attributes.get('_route')=='trouble_ticket_contact'%}
                <li class="sidebar_menu_item active"><span class="sidebar_menu_link">Контактная информация</span></li>
                {%else%}
                <li class="sidebar_menu_item"><a href="{{path('trouble_ticket_contact')}}" class="sidebar_menu_link">Контактная информация</a></li>
                {%endif%}

            {%if app.request.attributes.get('_route')=='core_common_privacy_policies'%}
                <li class="sidebar_menu_item active"><span class="sidebar_menu_link">Политика конфиденциальности</span></li>
                {%else%}
                <li class="sidebar_menu_item"><a href="{{path('core_common_privacy_policies')}}" class="sidebar_menu_link">Политика конфиденциальности</a></li>
                {%endif%}
            {#
            <li class="sidebar_menu_item"><a href="" class="sidebar_menu_link">Новости</a></li>
            #}
        </ul>
    </div>
</aside>