{#Поисковая форма в шапке сайта#}
{% if simple is defined and simple %}
    <div class="header_search">
        <form id="search-form" action="{{ path('core_common_search_first_page') }}">
            <div class="button">
                <button type="submit" class="common_button"><span>Найти</span></button>
            </div>
            <div class="search_input">{{ form_widget(searchForm.q, {'attr': {'placeholder': placeholder} }) }}</div>
            {#<button type="submit" class="search_button">Найти</button>#}
            <div class="search_tip">Например, <span class="text_tgl">Самокат Mini Micro</span></div>
        </form>
    </div>
    {% else %}
        <form id="search-form" action="{{ path('core_common_search_first_page') }}">
            <div class="search_input">{{ form_widget(searchForm.q, {'attr': {'placeholder': placeholder} }) }}</div>
            <button type="submit" class="search_button">Найти</button>
            <div class="search_tip">Например, <span class="text_tgl">Самокат Mini Micro</span></div>
        </form>
{% endif %}