{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}
{% block field%}
{% if object.deliveryMethod%}
<a href="{{path('admin_core_delivery_service_edit',{id:object.deliveryMethod.id})}}">{{object.deliveryMethod.captionRu}}</a>
{%endif%}
{% if object.deliveryCost%}
 ({{moneyFormat(object.deliveryCost)}} <small class="muted">{{currencyFormat()}}</small>)
 {%endif%}
{% endblock %}