{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}
{% block field%}
{%if object.status%}

{%if object.status.name==constant('Core\\LogisticsBundle\\Entity\\Transit::formedStatusName')%}
<span class="label label-default">{{object.status.captionRu}}</span>
{%endif%}
{%if object.status.name==constant('Core\\LogisticsBundle\\Entity\\Transit::packedStatusName')%}
<span class="label label-inverse">{{object.status.captionRu}}</span>
{%endif%}
{%if object.status.name==constant('Core\\LogisticsBundle\\Entity\\Transit::onTheWayStatusName')%}
<span class="label label-info">{{object.status.captionRu}}</span>
{%endif%}
{%if object.status.name==constant('Core\\LogisticsBundle\\Entity\\Transit::completedStatusName')%}
<span class="label label-success">{{object.status.captionRu}}</span>
{%endif%}

{%endif%}
{% endblock %}


	 