<div class="modal-content">
    <div class="modal-header">
        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
        <h4 class="modal-title">Видеоурок: добавление рекламной компании</h4>
    </div>
    <div class="modal-body">
        <div class="responsive-video margin-bottom-30">
            <iframe src="http://player.vimeo.com/video/47911018?autoplay=1" width="530" height="300" frameborder="0"
                    webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
        </div>
    </div>

</div>