
{#**
 * Шаблон для вывода выбора способа оплаты
 *
 * @author Sergeev A.M.
 * @copyright LLC "PromoMaster"
 *#}

{% block payment_system_switcher %}
    {% spaceless %}

        {% if paymentSytems is defined %}

            {% set ps = paymentSytems %}
            {% set orderCost = data is defined ? data.orderCostInfo.total_cost : (orderCostInfo is defined ? orderCostInfo.total_cost : 0) %}

            <ul class="order_payment_group group_switcher">

                {% if (ps['PlasticCard'].isEnabled or (ps['PlasticCardTerminal'].isEnabled and isSupplyPlacticCard)) and orderCost >= 1 %}

                    <li class="group_switch no-bg" data-tab="1"{% if not isSupplyPlacticCard %} data-val="PlasticCard"{% endif %}>
                        <span class="group_switch_icon"><span class="payment_PlasticCard payment_icon">&nbsp;</span>{#<span class="payment_mastercard payment_icon">&nbsp;</span>#}</span>
                        <span class="group_switch_text">Пластиковая карта</span>
                    </li>

                {% endif %}

                {% if (ps['WebMoney'].isEnabled or ps['YandexMoney'].isEnabled) and orderCost >= 1 %}

                    <li class="group_switch" data-tab="2">
                        <span class="group_switch_icon"><span class="payment_WebMoney_small payment_icon">&nbsp;</span><span class="payment_YandexMoney_small payment_icon">&nbsp;</span></span>
                        <span class="group_switch_text">Платежная система</span>
                    </li>

                {% endif %}

                {% if ps['Qiwi'].isEnabled %}

                    <li class="group_switch no-bg" data-tab="3" data-val="Qiwi">
                        <span class="group_switch_icon"><span class="payment_Qiwi payment_icon">&nbsp;</span></span>
                        <span class="group_switch_text">QIWI</span>
                    </li>

                {% endif %}

                {% if ps['BankTransfer'].isEnabled or ps['AlfaBank'].isEnabled %}

                    <li class="group_switch" data-tab="4">
                        <span class="group_switch_icon"><span class="payment_BankTransfer_small payment_icon">&nbsp;</span><span class="payment_AlfaBank_small payment_icon">&nbsp;</span></span>
                        <span class="group_switch_text">Банковский платеж</span>
                    </li>

                {% endif %}

                {% if ps['Megafon'].isEnabled or ps['Beeline'].isEnabled %}

                    <li class="group_switch" data-tab="5">
                        <span class="group_switch_icon"><span class="payment_Megafon_small payment_icon">&nbsp;</span><span class="payment_Beeline_small payment_icon">&nbsp;</span></span>
                        <span class="group_switch_text">Мобильный телефон</span>
                    </li>

                {% endif %}

                {% if ps['PayPal'].isEnabled %}

                    <li class="group_switch" data-tab="6" data-val="PayPal">
                        <span class="group_switch_icon"><span class="payment_PayPal_small payment_icon">&nbsp;</span></span>
                        <span class="group_switch_text">PayPal</span>
                    </li>

                {% endif %}

            </ul>
            <div class="order_payment_type type_switcher brown_gradient_box">

                {% if isSupplyPlacticCard and orderCost >= 1 %}

                    <ul class="type_switches" data-content="1">
                        <li><span style="margin-right: 67px;">{% if ps['PlasticCard'].isEnabled %}На сайте{% endif %}{% if ps['PlasticCard'].isEnabled and ps['PlasticCardTerminal'].isEnabled %}</span> <span>{% endif %}{% if ps['PlasticCardTerminal'].isEnabled %}В пункте выдачи{% endif %}</span></li>
                        {% if ps['PlasticCard'].isEnabled %}<li class="type_switch no-bg" data-val="PlasticCard"><span class="payment_PlasticCard payment_icon type_switch_icon">VISA / Master Card (онлайн)</span></li>{% endif %}
                        {% if ps['PlasticCardTerminal'].isEnabled %}<li class="type_switch no-bg" data-val="PlasticCardTerminal"><span class="payment_PlasticCard payment_icon type_switch_icon">VISA / Master Card (терминал)</span></li>{% endif %}
                    </ul>

                {% endif %}

                {% if orderCost >= 1 %}

                    <ul class="type_switches" data-content="2">
                        {% if ps['WebMoney'].isEnabled %}<li class="type_switch no-bg" data-val="WebMoney"><span class="payment_WebMoney payment_icon type_switch_icon">WebMoney</span></li>{% endif %}
                        {% if ps['YandexMoney'].isEnabled %}<li class="type_switch no-bg" data-val="YandexMoney"><span class="payment_YandexMoney payment_icon type_switch_icon">Яндекс.Деньги</span></li>{% endif %}
                    </ul>

                {% endif %}

                <ul class="type_switches" data-content="4">
                    {% if ps['BankTransfer'].isEnabled %}<li class="type_switch no-bg" data-val="BankTransfer"><span class="payment_BankTransfer payment_icon type_switch_icon">Сбербанк</span></li>{% endif %}
                    {% if ps['AlfaBank'].isEnabled %}<li class="type_switch no-bg" data-val="AlfaBank"><span class="payment_AlfaBank payment_icon type_switch_icon">Альфа-банк</span></li>{% endif %}
                </ul>
                <ul class="type_switches" data-content="5">
                    {% if ps['Megafon'].isEnabled %}<li class="type_switch no-bg" data-val="Megafon"><span class="payment_Megafon payment_icon type_switch_icon">Мегафон</span></li>{% endif %}
                    {% if ps['Beeline'].isEnabled %}<li class="type_switch no-bg" data-val="Beeline"><span class="payment_Beeline payment_icon type_switch_icon">Билайн</span></li>{% endif %}
                </ul>
            </div>

        {% else %}

            Платежные системы не были получены!

        {% endif %}

    {% endspaceless %}
{% endblock %}
